#====================================================================
# Edit Configurations...
#====================================================================

spring.application.name={{baseName}}
spring.cloud.gateway.discovery.locator.enabled=false
