package {{packageName}}.dummy.infrastructure.secondary;

import io.cucumber.java.Before;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;

public class JpaBeersReseter {

  @Autowired
  private JpaBeersRepository beers;

  @Before
  @Transactional
  public void resetBeers() {
    beers.deleteAllInBatch();
  }
}
