doctype html
block variables
  -let htmlStyle = null;
html(style=htmlStyle)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block title
      title Tikui
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap')
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]glyph/css/jhlite-icons.css')
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]font/roboto/roboto.css')
    link(href='[[TIKUI_BASEPATH]]tikui.css' rel='stylesheet')
  body
    block body
      p Please include a body here.
