doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block title
      title Tikui
    link(href='[[TIKUI_BASEPATH]]tikui.css' rel='stylesheet')
  body
    block body
      p Please include a body here.
