extends /layout-documentation

block append vars
  - active = 'organism';

block title
  title Tikui - Organisms

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1#organisms.tikui-title-main Organisms
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/organism
    .tikui-vertical-spacing--line
      include:componentDoc(height=70) header/header.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=910) landscape/landscape.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=320) landscape-loader/landscape-loader.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=160) landscape-minimap/landscape-minimap.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=160) landscape-preset-configuration/landscape-preset-configuration.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=160) landscape-rank-module-filter/landscape-rank-module-filter.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=230) module-parameters/module-parameters.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=870) modules-patch/modules-patch.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=700) module-patch-loader/module-patch-loader.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=600) module-properties/module-properties.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=230) project-actions/project-actions.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=300) side-menu/side-menu.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) vertical-space/vertical-space.md
