.tikui-vertical-spacing.-s32
  .tikui-vertical-spacing--line
    h2#button.tikui-title-section Button
  .tikui-vertical-spacing--line
    include:componentDoc(height=150) button-main/button-main.md
  .tikui-vertical-spacing--line
    include:componentDoc(height=150) button-switch/button-switch.md
  .tikui-vertical-spacing--line
    include:componentDoc(height=150) button-toggle/button-toggle.md
