#====================================================================
# Spring Cloud Consul Config bootstrap configuration
#====================================================================

spring.application.name={{baseName}}
spring.cloud.config.enabled=false
