include columns.mixin.pug

+columns('title-and-text')
  +columns--column First column
  +columns--column Second column

+columns('paragraphs', { justify: 'center' })
  +columns--column First #[br] column
  +columns--column Second column

+columns('paragraphs', { align: 'center' })
  +columns--column First #[br] column
  +columns--column Second column
