package {{packageName}}.sample.infrastructure.secondary;

import static org.assertj.core.api.Assertions.*;
import static {{packageName}}.sample.domain.beer.BeersFixture.*;

import org.junit.jupiter.api.Test;
import {{packageName}}.UnitTest;

@UnitTest
class BeerEntityTest {

  @Test
  void shouldConvertFromAndToDomain() {
    assertThat(BeerEntity.from(beer()).toDomain()).usingRecursiveComparison().isEqualTo(beer());
  }
}
