<div
  v-if="properties.length !== 0"
  class="jhipster-module-properties"
  :class="stateClass()"
  :data-selector="`module-${moduleSlug}-${propertiesType}-properties`"
>
  <div class="jhipster-module-properties--type" :class="stateClass()">
    <div class="jhipster-module-properties--type-title" :class="stateClass()">{{ typeLabel() }}</div>
    <div
      :data-selector="`module-${moduleSlug}-${propertiesType}-properties-stats`"
      class="jhipster-module-properties--type-stats"
      :class="stateClass()"
    >
      {{ propertiesStats() }}
    </div>
  </div>
  <div v-for="property in properties" class="jhipster-module-properties--property" :class="stateClass()">
    <div class="jhipster-module-properties--property-key" :class="stateClass()">{{ property.key }}</div>
    <div
      class="jhipster-module-properties--property-value"
      :class="stateClass()"
      :data-selector="`module-${moduleSlug}-${property.key}-property-value`"
    >
      {{ moduleProperties.get(property.key) }}
    </div>
  </div>
</div>
