$jhlite-nav-item-current-color-text: $jhlite-global-color-text-primary;

.jhlite-nav-item {
  @include jhlite-q-link-light;

  text-decoration: none;

  &.-current {
    color: $jhlite-nav-item-current-color-text;

    &:hover {
      color: $jhlite-nav-item-current-color-text;
    }
  }
}
