@use '../../quark/quark';
@use '../../token/colors';

$jhlite-nav-item-current-color-text: colors.$jhlite-global-color-text-primary;

.jhlite-nav-item {
  @include quark.jhlite-q-link-light;

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    text-decoration: none;
  }

  &.-current {
    color: $jhlite-nav-item-current-color-text;

    &:hover {
      color: $jhlite-nav-item-current-color-text;
    }
  }
}
