# Prettier configuration

printWidth: 140
singleQuote: true
tabWidth: {{indentSize}}
useTabs: false
endOfLine: "{{endOfLine}}"

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false

# xml rules:
xmlWhitespaceSensitivity: ignore
