package {{packageName}}.user.infrastructure.secondary.{{sqlDatabaseName}};

import org.springframework.data.jpa.repository.JpaRepository;

/**
 * Spring Data JPA repository for the {@link AuthorityEntity} entity.
 */
public interface AuthorityJpaRepository extends JpaRepository<AuthorityEntity, String> {}
