<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>Thymeleaf project</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div>Welcome to your Spring Boot with Thymeleaf project!</div>
      <!-- jhipster-needle-thymeleaf-index-content -->
    </div>
    <th:block layout:fragment="script-content">
      <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) --->
      <!-- jhipster-needle-thymeleaf-index-script -->
    </th:block>
  </body>
</html>
