include vertical-space.mixin.pug

+jhlite-vertical-space('paragraph')
  +jhlite-vertical-space--slot First paragraph
  +jhlite-vertical-space--slot Second paragraph
  +jhlite-vertical-space--slot Third paragraph
