include vertical-space.mixin.pug

+jhlite-vertical-space('paragraph')
  +jhlite-vertical-space--line First paragraph
  +jhlite-vertical-space--line Second paragraph
  +jhlite-vertical-space--line Third paragraph
