:root {
  --color-border-field: #222;
  --color-disabled: #a3a3a3;
  --color-primary: #007bff;
  --color-primary-lighter: #3396ff;
  --color-text: #222;
  --color-text-on-primary: #fff;
  --color-background-page: #f1f1f1;
  --color-background: #fff;
  --color-shadow: rgb(0 0 0 / 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border-field: #ccc;
    --color-disabled: #666;
    --color-text: #fff;
    --color-background-page: #333;
    --color-background: #222;
    --color-shadow: rgb(255 255 255 / 80%);
  }
}
