package {{packageName}}.dummy.domain.order;

import {{packageName}}.dummy.domain.Amount;
import {{packageName}}.dummy.domain.BeerId;
import {{packageName}}.error.domain.Assert;

public record OrderedBeer(BeerId beer, Amount unitPrice) {
  public OrderedBeer {
    Assert.notNull("beer", beer);
    Assert.notNull("unitPrice", unitPrice);
  }
}
