import { defineConfig } from 'vite';
import tsconfigPaths from 'vite-tsconfig-paths';
import react from '@vitejs/plugin-react';

export default defineConfig({
  plugins: [react(), tsconfigPaths()],
  build: {
    outDir: '../../../{{projectBuildDirectory}}/classes/static',
  },
  root: 'src/main/webapp',
  server: {
    port: 9000,
    hmr: { overlay: false },
    proxy: {
      '/api': {
        target: 'http://localhost:{{serverPort}}',
        changeOrigin: true,
      },
    },
  },
  define: {
    'process.env': {},
  },
});
