mixin jhlite-button(opts)
  - const { block: isBlock, small: isSmall, disabled } = opts || {};
  - const blockClass = isBlock ? '-block' : null;
  - const smallClass = isSmall ? '-small' : null;
  button.jhlite-button(class=blockClass || smallClass, disabled=disabled)
    block
