# Prettier configuration

printWidth: 140
singleQuote: true
tabWidth: 2
useTabs: false
endOfLine: "lf"

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false

# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: 2

# xml rules:
xmlWhitespaceSensitivity: ignore
