# Prettier configuration

printWidth: 140
singleQuote: true
tabWidth: 2
useTabs: false
experimentalOperatorPosition: start

plugins:
  - '@prettier/plugin-xml'
  - '@prettier/plugin-pug'
  - prettier-plugin-java
  - prettier-plugin-gherkin
  - prettier-plugin-organize-imports
  - prettier-plugin-packagejson
  - prettier-plugin-sh

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false

# xml rules:
xmlWhitespaceSensitivity: ignore

# https://github.com/prettier/prettier/issues/15956
overrides:
  - files: ['*.jsonc']
    options:
      trailingComma: none
  - files: '**/*.{ts,tsx}' # Remove when https://github.com/prettier/plugin-xml/pull/893 will be released
    options:
      parser: typescript
