include /atom/icon/icon.mixin.pug

mixin jhlite-toast(type)
  .jhlite-toast(class=`-${type}` role='alert')
    .jhlite-toast--message
      block
    button.jhlite-toast--action(aria-label='Close')
      +jhlite-icon('cancel')
