mixin jhlite-landscape-module
  .jhlite-chip.-selectable.-compacted
    .jhlite-chip--title.-selectable.-compacted github-codespaces
    .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
