package {{ packageName }}.dummy.infrastructure.secondary;

import org.springframework.data.repository.CrudRepository;
import org.springframework.stereotype.Repository;

import java.util.UUID;

@Repository
interface CassandraBeerRepository extends CrudRepository<BeerTable, UUID> {
}
