package {{ packageName }}.dummy.infrastructure.secondary;

import org.springframework.data.cassandra.repository.CassandraRepository;
import org.springframework.stereotype.Repository;

import java.util.UUID;

@Repository
interface CassandraBeerRepository extends CassandraRepository<BeerTable, UUID> {
}
