{
  "extension": [".js", ".cjs", ".mjs", ".ts", ".tsx"],
  "reporter": ["html", "json"],
  "report-dir": "../../../../{{ projectBuildDirectory }}/frontend-coverage/components-tests",
  "temp-dir": "../../../../{{ projectBuildDirectory }}/.nyc_output"
}
