import { AppRoutingModule } from './app-routing.module';

describe('AppRoutingModule', () => {
  // jhipster-needle-angular-jwt-login-form
  it('should be defined', () => {
    expect(AppRoutingModule).toBeDefined();
  });
});
