.angular-logo {
  width: 50px;
  height: 50px;
}

.jhipster-logo {
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  width: 250px;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-card{
  width: 350px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

#footer {
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
