<div id="app">
  <img alt="Angular logo" class="angular-logo" src="content/images/AngularLogo.svg" />
  <br />
  <img alt="JHipster logo" src="../../../../content/images/JHipster-Lite-neon-red.png" />
  <h1>{{=<% %>=}}{{ appName }}<%={{ }}=%>: Angular + TypeScript</h1>
  <p>
    Recommended IDE setup:
    <a href="https://code.visualstudio.com/" target="_blank">VSCode</a>
  </p>

  <p>
    <a href="https://angular.io/tutorial" target="_blank">Angular Documentation</a>
    |
    <a href="https://angular.io/cli" target="_blank">Angular CLI Documentation</a>
  </p>

  <p>
    Edit
    <code>src/main/webapp/app/common/primary/app/app.component.ts</code> to test hot module replacement.
  </p>
</div>

<router-outlet></router-outlet>
