<div class="jhipster-modules" v-if="content.isLoading()" data-selector="modules-loader">Loading</div>
<div class="jhipster-modules" v-else data-selector="modules-list">
  <aside class="jhipster-modules-form">
    <h2>Modules</h2>

    <div class="jhipster-modules-form--field-line">
      <label for="folder-path" class="jhipster-modules-form--field-label"> Project folder </label>

      <input
        tabindex="1"
        type="text"
        id="folder-path"
        ref="folderPathInput"
        v-model="folderPath"
        class="jhipster-modules-form--field"
        data-selector="folder-path-field"
      />
    </div>

    <div class="jhipster-modules-form--field-line" v-if="selectedModule" v-for="property in selectedModule.properties">
      <label :for="`module-property-${property.key}`" class="jhipster-modules-form--field-label">
        <span class="jhipster-modules-form--field-description">{{ property.description }}</span>
        <span class="jhipster-modules-form--field-key"> -&nbsp;{{ property.key }}</span>
      </label>

      <input
        tabindex="2"
        type="text"
        class="jhipster-modules-form--field"
        :id="`module-property-${property.key}`"
        :placeholder="property.example"
        @input="setStringProperty(property.key, $event.target.value)"
        :value="moduleProperties.get(property.key)"
        :data-selector="`property-${property.key}-field`"
        v-if="property.type === 'STRING'"
      />

      <input
        tabindex="2"
        type="number"
        class="jhipster-modules-form--field"
        :id="`module-property-${property.key}`"
        :placeholder="property.example"
        @input="setNumberProperty(property.key, $event.target.value)"
        :value="moduleProperties.get(property.key)"
        :data-selector="`property-${property.key}-field`"
        v-if="property.type === 'INTEGER'"
      />

      <select
        tabindex="2"
        class="jhipster-modules-form--field"
        :id="`module-property-${property.key}`"
        @change="setBooleanProperty(property.key, $event.target.value)"
        :data-selector="`property-${property.key}-field`"
        v-if="property.type === 'BOOLEAN'"
      >
        <option value="" :selected="moduleProperties.get(property.key) === undefined"></option>
        <option value="true" :selected="moduleProperties.get(property.key) === true">Yes</option>
        <option value="false" :selected="moduleProperties.get(property.key) === false">No</option>
      </select>

      <div
        class="jhipster-modules-form--field-optional-marker"
        :data-selector="`property-${property.key}-optional-marker`"
        v-if="!property.mandatory"
      >
        Optional
      </div>
    </div>
  </aside>

  <div class="jhipster-modules-list">
    <div class="jhipster-modules-list--search">
      <input
        tabindex="3"
        type="text"
        class="jhipster-modules-list--search-field"
        placeholder="Filter"
        data-selector="modules-filter-field"
        @input="filter($event.target.value)"
      />
    </div>

    <div class="jhipster-modules-list--categories">
      <div v-for="category in content.value().categories">
        <div>
          <h2 class="jhipster-module-category--name">{{ category.name }}</h2>
          <div v-for="module in category.modules" class="jhipster-module">
            <div
              tabindex="4"
              class="jhipster-module--content"
              @click="selectModule(module.slug)"
              @keyup.enter="selectModule(module.slug); $refs.folderPathInput.focus()"
              :data-selector="`${module.slug}-module-content`"
            >
              <div class="jhipster-module--slug">{{ module.slug }}</div>
              <div class="jhipster-module--description">{{ module.description}}</div>

              <ModulePropertiesVue
                propertiesType="Mandatory"
                :properties="mandatoryProperties(module.slug)"
                :moduleSlug="module.slug"
                :moduleProperties="moduleProperties"
              />
              <ModulePropertiesVue
                propertiesType="Optional"
                :properties="optionalProperties(module.slug)"
                :moduleSlug="module.slug"
                :moduleProperties="moduleProperties"
              />
            </div>

            <button
              tabindex="4"
              class="jhipster-module--apply-button"
              :disabled="disabledApplication(module.slug)"
              @click="applyModule(module.slug)"
              :data-selector="`module-${module.slug}-application-button`"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
