package {{packageName}}.cucumber;

import io.cucumber.java.After;
import io.cucumber.java.Before;
import java.util.Collection;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.data.jpa.repository.JpaRepository;

public class CucumberJpaReset {

  private final Collection<JpaRepository<?, ?>> repositories;

  CucumberJpaReset(Collection<JpaRepository<?, ?>> repositories) {
    this.repositories = repositories;
  }

  @After
  @Before
  @Transactional
  public void wipeData() {
    repositories.forEach(JpaRepository::deleteAllInBatch);
  }
}
