package {{packageName}}.technical.infrastructure.primary.springdoc;

import io.swagger.v3.oas.models.ExternalDocumentation;
import io.swagger.v3.oas.models.OpenAPI;
import io.swagger.v3.oas.models.info.Info;
import io.swagger.v3.oas.models.info.License;
import org.springdoc.core.GroupedOpenApi;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class SpringdocConfiguration {

  @Value("${application.version:undefined}")
  private String version;

  @Bean
  public OpenAPI {{baseNameLowercase}}OpenAPI() {
    return new OpenAPI()
      .info(
        new Info()
          .title("{{apiTitle}}")
          .description("{{apiDescription}}")
          .version(version)
          .license(new License().name("{{apiLicenseName}}").url("{{apiLicenseUrl}}"))
      )
      .externalDocs(new ExternalDocumentation().description("{{apiExternalDocDescription}}").url("{{apiExternalDocUrl}}"));
  }

  @Bean
  public GroupedOpenApi {{baseNameLowercase}}AllOpenAPI() {
    // prettier-ignore
    return GroupedOpenApi.builder()
      .group("all")
      .pathsToMatch("/api/**")
      .build();
  }
}
