package {{packageName}}.sample.domain.order;

import {{packageName}}.sample.domain.Amount;
import {{packageName}}.sample.domain.BeerId;
import {{packageName}}.shared.error.domain.Assert;

public record OrderedBeer(BeerId beer, Amount unitPrice) {
  public OrderedBeer {
    Assert.notNull("beer", beer);
    Assert.notNull("unitPrice", unitPrice);
  }
}
