$jhlite-menu-content-template-menu-medium-width: 300px;

.jhlite-menu-content-template {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;

  &--content {
    height: inherit;
  }

  &--content, &--menu {
    box-sizing: border-box;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
    min-height: 0;
    overflow: auto;
  }
}

@media screen and (min-width: $jhlite-global-breakpoint-small-medium) {
  .jhlite-menu-content-template {
    flex-direction: row;

    &--menu {
      flex-basis: auto;
      flex-grow: 0;
      width: $jhlite-menu-content-template-menu-medium-width;
    }
  }
}
