package {{packageName}}.wire.liquibase.infrastructure.secondary;

import java.util.concurrent.Executor;
import javax.sql.DataSource;
import liquibase.integration.spring.SpringLiquibase;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.ObjectProvider;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.boot.autoconfigure.condition.ConditionalOnProperty;
import org.springframework.boot.autoconfigure.jdbc.DataSourceProperties;
import org.springframework.boot.autoconfigure.liquibase.LiquibaseDataSource;
import org.springframework.boot.autoconfigure.liquibase.LiquibaseProperties;
import org.springframework.boot.context.properties.EnableConfigurationProperties;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.core.env.Environment;
import org.springframework.util.CollectionUtils;
import org.springframework.util.StringUtils;
import {{packageName}}.shared.generation.domain.ExcludeFromGeneratedCodeCoverage;

@Configuration
@EnableConfigurationProperties({ LiquibaseProperties.class })
@ConditionalOnProperty(prefix = "spring.liquibase", name = { "enabled" }, matchIfMissing = true)
class LiquibaseConfiguration {

  private static final Logger log = LoggerFactory.getLogger(LiquibaseConfiguration.class);

  private final Environment env;

  @Value("${application.liquibase.async:false}")
  private boolean async;

  public LiquibaseConfiguration(Environment env) {
    this.env = env;
  }

  @Bean
  @ExcludeFromGeneratedCodeCoverage(reason = "Not testing all liquibase properties configuration")
  public SpringLiquibase liquibase(
    @Qualifier("taskExecutor") Executor executor,
    @LiquibaseDataSource ObjectProvider<DataSource> liquibaseDataSource,
    LiquibaseProperties liquibaseProperties,
    ObjectProvider<DataSource> dataSource,
    DataSourceProperties dataSourceProperties
  ) {
    SpringLiquibase liquibase;
    if (async) {
      log.debug("Configuring Liquibase with async");
      liquibase = SpringLiquibaseUtil.createAsyncSpringLiquibase(
        this.env,
        executor,
        liquibaseDataSource.getIfAvailable(),
        liquibaseProperties,
        dataSource.getIfUnique(),
        dataSourceProperties
      );
    } else {
      log.debug("Configuring Liquibase with sync");
      liquibase = SpringLiquibaseUtil.createSpringLiquibase(
        liquibaseDataSource.getIfAvailable(),
        liquibaseProperties,
        dataSource.getIfUnique(),
        dataSourceProperties
      );
    }
    liquibase.setChangeLog(liquibaseProperties.getChangeLog());
    if (!CollectionUtils.isEmpty(liquibaseProperties.getContexts())) {
      liquibase.setContexts(StringUtils.collectionToCommaDelimitedString(liquibaseProperties.getContexts()));
    }
    liquibase.setDefaultSchema(liquibaseProperties.getDefaultSchema());
    liquibase.setLiquibaseSchema(liquibaseProperties.getLiquibaseSchema());
    liquibase.setLiquibaseTablespace(liquibaseProperties.getLiquibaseTablespace());
    liquibase.setDatabaseChangeLogLockTable(liquibaseProperties.getDatabaseChangeLogLockTable());
    liquibase.setDatabaseChangeLogTable(liquibaseProperties.getDatabaseChangeLogTable());
    liquibase.setDropFirst(liquibaseProperties.isDropFirst());
    if (!CollectionUtils.isEmpty(liquibaseProperties.getLabelFilter())) {
      liquibase.setContexts(StringUtils.collectionToCommaDelimitedString(liquibaseProperties.getLabelFilter()));
    }
    liquibase.setChangeLogParameters(liquibaseProperties.getParameters());
    liquibase.setRollbackFile(liquibaseProperties.getRollbackFile());
    liquibase.setTestRollbackOnUpdate(liquibaseProperties.isTestRollbackOnUpdate());
    liquibase.setShouldRun(liquibaseProperties.isEnabled());

    liquibase.setAnalyticsEnabled(false);

    return liquibase;
  }
}
