mixin jhlite-button-switch(opts)
  - const { selected: isSelected } = opts || {};
  - const selectedClass = isSelected ? '-selected' : null;
  button.jhlite-button-switch(class=selectedClass)
    block
