.toasting {
  position: absolute;
  z-index: 1;

  &.-up {
    top: var(--spacing-m);
  }

  &.-right {
    right: var(--spacing-m);
  }

  &.-down {
    bottom: var(--spacing-m);
  }

  &.-left {
    left: var(--spacing-m);
  }
}
