.jhlite-icon-book:before {
  content: '\e800';
} /* '' */
.jhlite-icon-ccw:before {
  content: '\e801';
} /* '' */
.jhlite-icon-play:before {
  content: '\e802';
} /* '' */
.jhlite-icon-open-collective:before {
  content: '\e803';
} /* '' */
.jhlite-icon-jhipster:before {
  content: '\e804';
} /* '' */
.jhlite-icon-download:before {
  content: '\e805';
} /* '' */
.jhlite-icon-cancel:before {
  content: '\e806';
} /* '' */
.jhlite-icon-ok:before {
  content: '\e807';
} /* '' */
.jhlite-icon-twitter:before {
  content: '\f099';
} /* '' */
.jhlite-icon-github-circled:before {
  content: '\f09b';
} /* '' */
.jhlite-icon-code:before {
  content: '\f121';
} /* '' */
.jhlite-icon-puzzle:before {
  content: '\f12e';
} /* '' */
.jhlite-icon-play-circled:before {
  content: '\f144';
} /* '' */
.jhlite-icon-binoculars:before {
  content: '\f1e5';
} /* '' */
.jhlite-icon-map:before {
  content: '\f279';
} /* '' */
