#====================================================================
# Spring Cloud Config bootstrap configuration
#====================================================================

spring.application.name={{baseName}}

jhipster.registry.password=admin
spring.cloud.compatibility-verifier.enabled=false
spring.cloud.config.label=main
spring.cloud.config.name={{baseName}}
spring.cloud.config.retry.initial-interval=1000
spring.cloud.config.retry.max-attempts=100
spring.cloud.config.retry.max-interval=2000
spring.cloud.config.uri=http://admin:${jhipster.registry.password}@localhost:8761/config
spring.cloud.config.fail-fast=true
