<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration scan="true">
  <springProperty name="log.level" source="logging.level.root" defaultValue="INFO" />
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <logger name="tech.jhipster.lite" level="INFO" />

  <logger name="ch.qos.logback" level="WARN" />
  <logger name="com.sun" level="WARN" />
  <logger name="org.springframework" level="WARN" />
  <logger name="org.hibernate.validator" level="WARN" />
  <logger name="com.jackson" level="WARN" />
  <!-- jhipster-needle-logback-add-log -->

  <root level="${log.level}">
    <appender-ref ref="CONSOLE" />
  </root>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
</configuration>
