package {{ packageName }}.shared.npm.domain;

import tech.jhipster.lite.module.domain.npm.NpmVersionSource;
import tech.jhipster.lite.module.domain.npm.NpmVersionSourceFactory;

public enum {{ baseName }}NpmVersionSource implements NpmVersionSourceFactory {
  {{ baseNameUpperCased }}("{{ baseNameKebabCased }}");

  private final String source;

  {{ baseName }}NpmVersionSource(String source) {
    this.source = source;
  }

  @Override
  public NpmVersionSource build() {
    return new NpmVersionSource(source);
  }
}
