package {{packageName}}.security.oauth2.infrastructure.config;

import java.util.Collection;
import org.springframework.core.convert.converter.Converter;
import org.springframework.security.core.GrantedAuthority;
import org.springframework.security.oauth2.jwt.Jwt;
import org.springframework.stereotype.Component;
import {{packageName}}.security.oauth2.application.SecurityUtils;

@Component
public class JwtGrantedAuthorityConverter implements Converter<Jwt, Collection<GrantedAuthority>> {

  public JwtGrantedAuthorityConverter() {
    // Bean extracting authority.
  }

  @Override
  public Collection<GrantedAuthority> convert(Jwt jwt) {
    return SecurityUtils.extractAuthorityFromClaims(jwt.getClaims());
  }
}
