package {{packageName}}.wire.logstash.infrastructure.secondary;

import static org.assertj.core.api.Assertions.assertThat;

import org.junit.jupiter.api.Test;
import {{packageName}}.UnitTest;

@UnitTest
class LogstashTcpPropertiesTest {

  @Test
  void shouldDisableByDefault() {
    assertThat(new LogstashTcpProperties().isEnabled()).isFalse();
  }
}
