package {{packageName}}.technical.infrastructure.secondary.cache.ehcache;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class EhcacheConfiguration {

  private final EhcacheProperties properties;

  public EhcacheConfiguration(EhcacheProperties properties) {
    this.properties = properties;
  }

  @Bean
  public EhcacheConfigurer ehcacheConfigurer() {
    return new EhcacheConfigurer(properties);
  }
}
