include button-toggle.mixin.pug

+jhlite-button-toggle Toggle
+jhlite-button-toggle({active: true}) Toggle active
+jhlite-button-toggle({disabled: true}) Toggle disabled
+jhlite-button-toggle({shortName: 'JS', fullName: 'JavaScript'})
+jhlite-button-toggle({shortName: 'TS', fullName: 'TypeScript', active: true})
+jhlite-button-toggle({shortName: 'CSS', fullName: 'Cascading Style Sheets', disabled: true})
