@font-face {
  font-family: Inter;
  font-weight: normal;
  src: url('./Inter-Regular.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('./Inter-SemiBold.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url('./Inter-Bold.ttf');
}
