import App from '../../../../../../main/webapp/app/common/primary/app/App.svelte';
import { render } from '@testing-library/svelte';

test('Welcome the user', () => {
    const { container } = render(App);

	expect(container).toBeDefined();
});