#====================================================================
# Spring Cloud Eureka Config bootstrap configuration
#====================================================================

spring.application.name={{baseName}}
eureka.client.enabled=false
