<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the svelte documentation</p>
<p>Visit <a href="https://github.com/jhipster/jhipster-lite">kgithub.com/jhipster/jhipster-lite</a> to read the jhipster lite documentation</p>