<div class="app-container">
	<div>
		<img alt="Svelte logo" src="svelte-logo.png" class="svelte-logo" />
	</div>
	<div>
		<img alt="JHipster logo" src="JHipster-Lite-neon-orange.png" />
	</div>
	<h1>svelteapp: SvelteKit + Typescript</h1>
	<p>Recommend IDE setup: <a href="https://code.visualstudio.com/" target="_blank" rel="noreferrer">VSCode</a></p>
	<p class="link-container">
		<a href="https://kit.svelte.dev" target="_blank" rel="noreferrer">Visit kit.svelte.dev</a>
		|
		<a href="https://github.com/jhipster/jhipster-lite" target="_blank" rel="noreferrer">Visit jhipster-lite</a>
	</p>
	<p>
		Edit
		<code> src/main/webapp/app/common/primary/app/App.svelte </code> to test hot module replacement.
	</p>
</div>

<style>
	.svelte-logo {
		height: 10%;
		width: 10%;
		padding-bottom: 25px;
	}
	.app-container {
		padding-top: 25px;
		text-align: center;
	}
	.link-container {
		color: #ff3e00;
	}

	a {
		color: #ff3e00;
	}

	code {
		background-color: lightgrey;
	}
</style>
