#====================================================================
# Spring Cloud Consul Config bootstrap configuration for fast profile
#====================================================================

spring.cloud.consul.enabled=false
