include icon.mixin.pug

+jhlite-icon('book')
+jhlite-icon('puzzle')
+jhlite-icon('binoculars')
+jhlite-icon('map')
+jhlite-icon('github-circled')
+jhlite-icon('twitter')
+jhlite-icon('ccw')
+jhlite-icon('play')
+jhlite-icon('open-collective')
+jhlite-icon('jhipster')
