package {{packageName}}.dummy.application;

import {{packageName}}.dummy.domain.BeerId;
import {{packageName}}.shared.kipe.application.AccessChecker;
import {{packageName}}.shared.kipe.application.AccessContext;
import {{packageName}}.shared.kipe.application.{{ baseName }}Authorizations;
import org.springframework.stereotype.Component;

@Component
class BeerIdAccessChecker implements AccessChecker<BeerId> {

  private final {{ baseName }}Authorizations authorizations;

  public BeerIdAccessChecker({{ baseName }}Authorizations authorizations) {
    this.authorizations = authorizations;
  }

  @Override
  public boolean can(AccessContext<BeerId> access) {
    return authorizations.allAuthorized(access.authentication(), access.action(), BeerResource.BEERS);
  }
}
