include /atom/icon/icon.mixin.pug

mixin jhlite-project-actions
  .jhipster-side-form--actions
    .jhlite-vertical-space.-paragraph
      .jhlite-vertical-space--line
        button.jhlite-button.-block
          +jhlite-icon('play-circled')
          span &nbsp;Apply new
      .jhlite-vertical-space--line
        button.jhlite-button.-block
          +jhlite-icon('play-circled')
          span &nbsp;Apply selected
      .jhlite-vertical-space--line
        button.jhlite-button.-block
          +jhlite-icon('code')
          span &nbsp;Format
      .jhlite-vertical-space--line
        button.jhlite-button.-block
          +jhlite-icon('download')
          span &nbsp;Download
