# Prettier configuration

printWidth: 140
singleQuote: true
tabWidth: {{prettierDefaultIndent}}
useTabs: false
endOfLine: "{{prettierEndOfLine}}"

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false

# search additional plugin, following prettier 2.6.0
pluginSearchDirs:
  - .

# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: {{prettierDefaultIndent}}

# xml rules:
xmlWhitespaceSensitivity: ignore
