{
  "name": "{{dasherizedBaseName}}",
  "version": "0.0.0",
  "private": true,
  "description": "{{projectName}}",
  "license": "UNLICENSED",
  "engines": {
    "node": ">={{nodeVersion}}"
  },
  "scripts": {
    "prepare": "husky install",
    "prettier:check": "prettier --check \"{,src/**/}*.{md,json,yml,html,js,ts,tsx,css,scss,vue,java,xml}\"",
    "prettier:format": "prettier --write \"{,src/**/}*.{md,json,yml,html,js,ts,tsx,css,scss,vue,java,xml}\""
  },
  "cacheDirectories": [
    "node_modules"
  ]
}
