package {{packageName}}.account.infrastructure.primary;

import static org.assertj.core.api.Assertions.*;
import static {{packageName}}.account.domain.TokensFixture.*;

import org.junit.jupiter.api.Test;
import {{packageName}}.JsonHelper;
import {{packageName}}.UnitTest;

@UnitTest
class RestTokenTest {

  @Test
  void shouldConvertFromDomain() {
    assertThat(JsonHelper.writeAsString(RestToken.from(token()))).isEqualTo(json());
  }

  private String json() {
    return "{\"id_token\":\"token\"}";
  }
}
