import { HomepageVue } from '@/common/primary/homepage';
import { createRouter, createWebHistory } from 'vue-router';

const routes = [
  {
    path: '/',
    redirect: { name: 'Homepage' },
  },
  {
    path: '/app',
    name: 'Homepage',
    component: HomepageVue,
  },
];

const router = createRouter({
  history: createWebHistory(),
  routes,
});

export default router;
