import { shallowMount, VueWrapper } from '@vue/test-utils';
import {HomepageVue} from '@/common/primary/homepage';

let wrapper: VueWrapper;

const wrap = () => {
wrapper = shallowMount(HomepageVue)
};


describe('App', () => {
it('should exist', () => {
wrap();

expect(wrapper.exists()).toBeTruthy();
});
});
