package {{packageName}}.account.infrastructure.primary.rest;

import java.security.Principal;
import javax.servlet.http.HttpServletRequest;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.security.authentication.AbstractAuthenticationToken;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import {{packageName}}.error.domain.AccountException;

@RestController
@RequestMapping("/api")
class AccountResource {

  private final Logger log = LoggerFactory.getLogger(AccountResource.class);

  /**
   * {@code GET  /account} : get the current user.
   *
   * @param principal the current user; resolves to {@code null} if not authenticated.
   * @return the current user.
   * @throws AccountResourceException {@code 500 (Internal Server Error)} if the user couldn't be returned.
   */
  @GetMapping("/account")
  @SuppressWarnings("unchecked")
  public UserDTO getAccount(Principal principal) {
    if (principal instanceof AbstractAuthenticationToken authenticationToken) {
      return UserDTO.getUserDTOFromToken(authenticationToken);
    }
    throw new AccountException("User could not be found");
  }

  /**
   * {@code GET  /authenticate} : check if the user is authenticated, and return its login.
   *
   * @param request the HTTP request.
   * @return the login if the user is authenticated.
   */
  @GetMapping("/authenticate")
  public String isAuthenticated(HttpServletRequest request) {
    log.debug("REST request to check if the current user is authenticated");
    return request.getRemoteUser();
  }
}
