<div id="app">
  <img alt="Vue logo" src="/content/images/VueLogo.png" />
  <br />
  <img alt="JHipster logo" src="../../../../content/images/JHipster-Lite-neon-green.png" />
  <h1>: Vue 3 + TypeScript + Vite</h1>
  <p>
    Recommended IDE setup:
    <a href="https://code.visualstudio.com/" target="_blank" rel="noopener">VSCode</a>
    +
    <a href="https://github.com/johnsoncodehk/volar" target="_blank" rel="noopener">Volar</a>
  </p>

  <p>
    <a href="https://vitejs.dev/guide/features.html" target="_blank" rel="noopener"> Vite Documentation </a>
    |
    <a href="https://v3.vuejs.org/" target="_blank" rel="noopener">Vue 3 Documentation</a>
  </p>

  <p>
    Edit
    <code>src/main/webapp/app/common/primary/app/App.vue</code> to test hot module replacement.
  </p>
</div>
