<?xml version="1.0" encoding="utf-8" ?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-4.5.xsd
                        http://www.liquibase.org/xml/ns/dbchangelog-ext http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd"
>
  <changeSet id="create_table_jhi_authority" author="jhipster">
    <createTable tableName="jhi_authority">
      <column name="name" type="varchar(50)">
        <constraints primaryKey="true" nullable="false" />
      </column>
    </createTable>

    <createTable tableName="jhi_user_authority">
      <column name="user_id" type="bigint">
        <constraints nullable="false" />
      </column>
      <column name="authority_name" type="varchar(50)">
        <constraints nullable="false" />
      </column>
    </createTable>

    <addPrimaryKey columnNames="user_id, authority_name" tableName="jhi_user_authority" />

    <addForeignKeyConstraint
      baseColumnNames="authority_name"
      baseTableName="jhi_user_authority"
      constraintName="fk_authority_name"
      referencedColumnNames="name"
      referencedTableName="jhi_authority"
    />

    <addForeignKeyConstraint
      baseColumnNames="user_id"
      baseTableName="jhi_user_authority"
      constraintName="fk_user_id"
      referencedColumnNames="id"
      referencedTableName="jhi_user"
    />

    <loadData file="config/liquibase/data/authority.csv" separator=";" tableName="jhi_authority" usePreparedStatements="true">
      <column name="name" type="string" />
    </loadData>
    <loadData file="config/liquibase/data/user_authority.csv" separator=";" tableName="jhi_user_authority" usePreparedStatements="true">
      <column name="user_id" type="numeric" />
    </loadData>
  </changeSet>
</databaseChangeLog>
