<?xml version="1.0" encoding="utf-8" ?>
<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:ext="http://www.liquibase.org/xml/ns/dbchangelog-ext"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog https://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-latest.xsd
                        http://www.liquibase.org/xml/ns/dbchangelog-ext https://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-ext.xsd"
>
  <changeSet id="create_table_jhi_user" author="jhipster">
    <createTable tableName="jhi_user">
      <column name="id" type="bigint">
        <constraints primaryKey="true" nullable="false" />
      </column>
      <column name="login" type="varchar(50)">
        <constraints unique="true" nullable="false" uniqueConstraintName="ux_user_login" />
      </column>
      <column name="password_hash" type="varchar(60)" />
      <column name="first_name" type="varchar(50)" />
      <column name="last_name" type="varchar(50)" />
      <column name="email" type="varchar(191)">
        <constraints unique="true" nullable="true" uniqueConstraintName="ux_user_email" />
      </column>
      <column name="image_url" type="varchar(256)" />
      <column name="activated" type="boolean" valueBoolean="false">
        <constraints nullable="false" />
      </column>
      <column name="lang_key" type="varchar(10)" />
      <column name="activation_key" type="varchar(20)" />
      <column name="reset_key" type="varchar(20)" />
      <column name="created_by" type="varchar(50)">
        <constraints nullable="false" />
      </column>
      <column name="created_date" type="timestamp" />
      <column name="reset_date" type="timestamp">
        <constraints nullable="true" />
      </column>
      <column name="last_modified_by" type="varchar(50)" />
      <column name="last_modified_date" type="timestamp" />
    </createTable>

    <addNotNullConstraint columnName="password_hash" columnDataType="varchar(60)" tableName="jhi_user" />
    <loadData file="config/liquibase/data/user.csv" separator=";" tableName="jhi_user" usePreparedStatements="true">
      <column name="id" type="numeric" />
      <column name="activated" type="boolean" />
      <column name="created_date" type="timestamp" />
    </loadData>
  </changeSet>
</databaseChangeLog>
