/// <reference types="@sveltejs/kit" />

// See https://svelte.dev/docs/svelte/typescript
// for information about these interfaces
declare namespace App {
  interface Locals {}

  interface Platform {}

  interface Session {}

  interface Stuff {}
}
