#====================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
#====================================================================

spring.application.name={{baseName}}
logging.level.{{packageName}}=INFO

# jhipster-needle-application-properties
