<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
  <!--
      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
              <maxHistory>90</maxHistory>
          </rollingPolicy>
          <encoder>
              <charset>utf-8</charset>
              <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
          </encoder>
      </appender>

      <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
          <queueSize>512</queueSize>
          <appender-ref ref="FILE"/>
      </appender>

      <root level="${logging.level.root}">
          <appender-ref ref="ASYNC"/>
      </root>
  -->

  <logger name="{{packageName}}" level="INFO"/>

  <logger name="ch.qos.logback" level="WARN"/>
  <logger name="com.sun" level="WARN"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="com.github.dockerjava" level="WARN"/>
  <logger name="org.testcontainers" level="WARN"/>
  <logger name="com.tngtech.archunit.core.importer" level="ERROR"/>
  <!-- jhipster-needle-logback-add-logger -->

  <root>
    <level>WARN</level>
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
