package {{packageName}};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.core.env.Environment;

import {{packageName}}.common.domain.Generated;

@SpringBootApplication
@Generated(reason = "Not testing logs")
public class {{mainClass}}App {

  private static final Logger log = LoggerFactory.getLogger({{mainClass}}App.class);

  public static void main(String[] args) {
    Environment env = SpringApplication.run({{mainClass}}App.class, args).getEnvironment();

    if(log.isInfoEnabled()) {
      log.info(ApplicationStartupTraces.of(env));
    }
  }
}
