import { shallowMount, VueWrapper } from '@vue/test-utils';
import { AppVue } from '@/common/primary/app';

let wrapper: VueWrapper;

const wrap = () => {
  wrapper = shallowMount(AppVue,{
    global: {
      stubs: ['router-link', 'router-view']
    }
  });
};

describe('App', () => {
  it('should exist', () => {
    wrap();

    expect(wrapper.exists()).toBeTruthy();
  });
});
