package {{packageName}}.technical.infrastructure.secondary.mongock;

import org.springframework.context.annotation.Configuration;
import io.mongock.runner.springboot.EnableMongock;

@Configuration
@EnableMongock
public class MongockDatabaseConfiguration {}
