package {{packageName}}.wire.mongock.infrastructure.secondary;

import io.mongock.runner.springboot.EnableMongock;
import org.springframework.context.annotation.Configuration;

@Configuration
@EnableMongock
public class MongockDatabaseConfiguration {}
