.toast {
  border-radius: var(--radius-toast);
  box-shadow: 0 0 10px var(--color-shadow);
  background-color: var(--color-background);
  padding: var(--spacing-m);
  color: var(--color-text);
  font-family: var(--font-family);
}
