<?xml version="1.0" encoding="UTF-8" ?>
<project
  xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd"
>
  <modelVersion>4.0.0</modelVersion>

  <artifactId>{{ baseNameKebabCased }}-dependencies</artifactId>
  <version>0.0.7-SNAPSHOT</version>
  <name>{{ projectName }} dependencies</name>
  <description>{{ projectName }} dependencies list</description>
  <packaging>pom</packaging>

  <properties>
    <!-- Version slugs of dependencies added by jhipster-lite modules should be declared here -->
  </properties>

  <dependencyManagement>
    <dependencies>
      <!-- Dependencies that will be added by jhipster-lite modules should be declared here -->
    </dependencies>
  </dependencyManagement>
</project>
