include chip.mixin.pug

+jhlite-chip({compacted: true})
+jhlite-chip({selectableHighlighted: true, compacted: true})
+jhlite-chip({notSelectableHighlighted: true, compacted: true})
+jhlite-chip({selected: true, applied:true, compacted: true})
+jhlite-chip({extended: true})
+jhlite-chip({selectableHighlighted: true, extended: true})
+jhlite-chip({notSelectableHighlighted: true, extended: true})
+jhlite-chip({selected: true, applied:true, extended: true})
