mixin jhlite-chip(options)
  -const { selectableHighlighted: isSelectableHighlighted, notSelectableHighlighted: isNotSelectableHighlighted, compacted: isCompacted, extended: isExtended, selected: isSelected, applied: isApplied } = options || {};
  -const selectabledHighlightedClass = isSelectableHighlighted ? '-selectable-highlighted' : null;
  -const notSelectableHighlightedClass = isNotSelectableHighlighted ? '-not-selectable-highlighted' : null;
  -const compactedClass = isCompacted ? '-compacted' : null;
  -const extendedClass = isExtended ? '-extended' : null;
  -const appliedClass = isApplied ? '-applied' : null;
  -const selectedClass = isSelected ? '-selected' : null;
  .jhlite-chip(class=[selectabledHighlightedClass, notSelectableHighlightedClass, selectedClass, extendedClass])
    .jhlite-chip--title(class=appliedClass) Chip title
    .jhlite-chip--description(class=compactedClass) Chip description
