#====================================================================
# Spring Cloud Consul Config bootstrap configuration for local profile
#====================================================================

spring.cloud.consul.config.fail-local=false
