#====================================================================
# Spring Cloud Eureka Config bootstrap configuration
#====================================================================

spring.application.name={{baseName}}
eureka.client.service-url.defaultZone=http://admin:admin@localhost:8761/eureka
