#====================================================================
# Spring Cloud Eureka Config bootstrap configuration
#====================================================================

spring.application.name={{baseName}}
eureka.client.service-url.defaultZone=http://admin:admin@localhost:8761/eureka
eureka.client.enabled=true
eureka.client.healthcheck.enabled=true
eureka.client.fetch-registry=true
eureka.client.register-with-eureka=true
eureka.client.instance-info-replication-interval-seconds=10
eureka.client.registry-fetch-interval-seconds=10
eureka.instance.appname={{baseNameLowercase}}
eureka.instance.instance-id={{baseNameLowercase}}:${spring.application.instance-id:${random.value}}
eureka.instance.lease-renewal-interval-in-seconds=5
eureka.instance.lease-expiration-duration-in-seconds=10
eureka.instance.status-page-url-path=${management.endpoints.web.base-path}/info
eureka.instance.health-check-url-path=${management.endpoints.web.base-path}/health
