$jhlite-mode-switch-line-color: $jhlite-global-line-color;
$jhlite-mode-switch-radius: $jhlite-global-size-switch-radius;

.jhlite-mode-switch {
  display: flex;

  &--modes {
    border: 1px solid $jhlite-mode-switch-line-color;
    border-radius: $jhlite-mode-switch-radius;
  }
}
