include /atom/button/button-switch/button-switch.mixin.pug

mixin jhlite-mode-switch
  .jhlite-mode-switch
    .jhlite-mode-switch--modes
      +jhlite-button-switch({selected: true}) Option one
      +jhlite-button-switch Option two
