include /organism/module-properties/module-properties.mixin.pug

mixin jhlite-landscape
  .jhipster-landscape.jhlite-menu-content-template
    .jhipster-landscape-modes-selection
      .jhipster-landscape-modes-selection--modes
        button.jhipster-landscape-modes-selection--modes-switch.-selected Compacted
        button.jhipster-landscape-modes-selection--modes-switch Extended
    .jhipster-landscape-map.jhlite-menu-content-template--content
      .jhipster-landscape-levels
        ul.jhipster-landscape-levels--level.-compacted
          li.jhipster-landscape-element.-compacted
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
        ul.jhipster-landscape-levels--level.-compacted
          li.jhipster-landscape-element.-compacted
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
        ul.jhipster-landscape-levels--level.-compacted
          li.jhipster-landscape-element.-compacted
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
            //LandscapeModuleVue
            .jhlite-chip.-selectable.-compacted
              .jhlite-chip--title.-selectable.-compacted github-codespaces
              .jhlite-chip--description.-selectable.-compacted Init GitHub Codespaces configuration files
      svg.jhipster-landscape-connectors(style='width: 800px; height: 724px;')
        path.jhipster-landscape-connectors--line.-selectable.-compacted(d='M 212 412 l 138 0')
        path.jhipster-landscape-connectors--line.-selectable.-compacted(d='M 503 412 l 142 0')
    .jhlite-menu-content-template--menu
      .jhlite-side-menu
        .jhlite-side-menu--slot.-expand
          .jhlite-vertical-space.-paragraph
            .jhlite-vertical-space--line
              +jhlite-module-properties
        .jhlite-side-menu--slot
          // TODO: ProjectActionsVue
          .jhipster-side-form--actions
            .jhlite-vertical-space.-paragraph
              // SLOT
              .jhlite-vertical-space--line
                button.jhlite-button.-block
                  // TODO: IconVue
                  em.jhlite-icon.jhlite-icon-play-circled
                  span &nbsp;Apply new
              .jhlite-vertical-space--line
                button.jhlite-button.-block
                  // TODO: IconVue
                  em.jhlite-icon.jhlite-icon-play-circled
                  span &nbsp;Apply selected
              // END SLOT
              .jhlite-vertical-space--line
                button.jhlite-button.-block
                  // TODO: IconVue
                  em.jhlite-icon.jhlite-icon-play-circled
                  span &nbsp;Format
              .jhlite-vertical-space--line
                button.jhlite-button.-block
                  // TODO: IconVue
                  em.jhlite-icon.jhlite-icon-play-circled
                  span &nbsp;Download
