include /atom/logo/logo.mixin.pug
include /molecule/nav/nav.mixin.pug

mixin jhlite-header
  header.jhlite-header
    .jhlite-header--slot
      +jhlite-logo
    .jhlite-header--slot.-expand
    .jhlite-header--slot
      +jhlite-nav
