@use 'colors';

@keyframes jhlite-valid-highlight-animation {
  0% {
    background-color: colors.$jhlite-valid-highlight-start-color;
    stroke: colors.$jhlite-valid-highlight-start-color;
  }

  50% {
    background-color: colors.$jhlite-valid-highlight-end-color;
    stroke: colors.$jhlite-valid-highlight-end-color;
  }

  100% {
    background-color: colors.$jhlite-valid-highlight-start-color;
    stroke: colors.$jhlite-valid-highlight-start-color;
  }
}

@keyframes jhlite-invalid-highlight-animation {
  0% {
    background-color: colors.$jhlite-invalid-highlight-start-color;
    stroke: colors.$jhlite-invalid-highlight-start-color;
  }

  50% {
    background-color: colors.$jhlite-invalid-highlight-end-color;
    stroke: colors.$jhlite-invalid-highlight-end-color;
  }

  100% {
    background-color: colors.$jhlite-invalid-highlight-start-color;
    stroke: colors.$jhlite-invalid-highlight-start-color;
  }
}

@keyframes jhlite-attention-highlight-animation {
  0% {
    box-shadow: 0 0 0 2px #ffd700;
  }

  70% {
    box-shadow: 0 0 0 4px #ffd700;
  }

  100% {
    box-shadow: 0 0 0 2px #ffd700;
  }
}
