@import 'https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap';

$jhlite-font-weight-semi-bold: 600;
$jhlite-global-font-primary-family: 'Inter', sans-serif;
$jhlite-global-font-text-size: 2.5vw;
$jhlite-global-font-text-desktop-size: 16px;
$jhlite-global-font-glyph-family: jhlite-icons;
