$jhlite-global-size-field-border: 1px !default;
$jhlite-global-size-field-line-height: 1rem !default;
$jhlite-global-size-field-font-size: 1rem !default;
$jhlite-global-size-field-padding: 10px !default;
$jhlite-global-size-field-radius: $jhlite-global-size-field-padding + $jhlite-global-size-field-border;
