@use 'sass:math';
@use 'sass:color';

$jhlite-select-color-background: rgba($jhlite-global-color-fill-light, 0);
$jhlite-select-color-text: $jhlite-global-color-text-dark;
$jhlite-select-color-border: $jhlite-color-neutral-300;
$jhlite-select-color-border-focus: $jhlite-color-brand-500;
$jhlite-select-color-box-shadow-spread: math.div(3, 16) * 1rem;
$jhlite-select-disabled-color-background: $jhlite-global-color-fill-disabled-light;
$jhlite-select-padding: math.div(9, 16) * 1rem math.div(1, 16) * 1rem math.div(9, 16) * 1rem math.div(13, 16) * 1rem;
$jhlite-select-radius: math.div(6, 16) * 1rem;
$jhlite-select-line-height: 1.5rem !default;
$jhlite-select-font-size: 1rem !default;

.jhlite-select {
  border-radius: $jhlite-select-radius;
  border-color: $jhlite-select-color-border;
  background-color: var(--jhlite-chip-bg-color);
  cursor: pointer;
  padding: $jhlite-select-padding;
  line-height: $jhlite-select-line-height;
  color: var(--jhlite-global-color-text);
  font-size: $jhlite-select-font-size;

  &:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 $jhlite-select-color-box-shadow-spread $jhlite-select-color-border-focus;
  }

  &:disabled {
    background-color: $jhlite-select-disabled-color-background;
    cursor: not-allowed;
  }
}
