package {{packageName}}.technical.infrastructure.secondary.mssql;

import org.springframework.context.annotation.Configuration;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;
import org.springframework.transaction.annotation.EnableTransactionManagement;

@Configuration
@EnableJpaRepositories({ "{{packageName}}" })
@EnableTransactionManagement
public class DatabaseConfiguration {}
