<mat-card>
  <mat-card-content>
    <div [ngSwitch]="account !== null">
      <form class="login-form" (ngSubmit)="login()" [formGroup]="loginForm" *ngSwitchCase="false">
        <mat-form-field class="form-field-full-width" appearance="fill">
          <mat-label>Login</mat-label>
          <input type="text" name="username" id="username" formControlName="username" #username matInput placeholder="Login" value="" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
            #password
            matInput
            placeholder="Password"
            value=""
          />
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary">Sign in</button>
      </form>
      <div *ngSwitchCase="true">
        <div>You are logged in as user "{{=<% %>=}}{{ account?.login }}<%={{ }}=%>".</div>
        <button (click)="logout()" mat-flat-button color="primary">Logout</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
