import { CommonModule } from '@angular/common';
import { Component, inject, OnDestroy, OnInit } from '@angular/core';
import { FormBuilder, FormGroup, ReactiveFormsModule, Validators } from '@angular/forms';
import { Subject, takeUntil } from 'rxjs';
import { AccountService } from '../auth/account.service';
import { LoginService } from '../login/login.service';
import { Account } from '../auth/account.model';

import { MatIconModule } from '@angular/material/icon';
import { MatButtonModule } from '@angular/material/button';
import { MatInputModule } from '@angular/material/input';
import { MatCardModule } from '@angular/material/card';

@Component({
  selector: 'jhi-login',
  templateUrl: './login.component.html',
  imports: [CommonModule, MatIconModule, MatButtonModule, MatInputModule, MatCardModule, ReactiveFormsModule],
  standalone: true,
  styleUrls: ['./login.component.css'],
})
export default class LoginComponent implements OnInit, OnDestroy {
  appName = '';

  private readonly destroy$ = new Subject<void>();

  account: Account | null = null;

  loginForm: FormGroup;

  private accountService = inject(AccountService);
  private loginService = inject(LoginService);
  private fb = inject(FormBuilder);

  constructor() {
    this.loginForm = this.fb.nonNullable.group({
      username: ['', [Validators.required]],
      password: ['', [Validators.required]],
    });
  }

  ngOnInit(): void {
    this.appName = '{{baseName}}';
    this.accountService
      .getAuthenticationState()
      .pipe(takeUntil(this.destroy$))
      .subscribe(account => (this.account = account));
  }

  ngOnDestroy(): void {
    this.destroy$.next();
    this.destroy$.complete();
  }

  login(): void {
    this.loginService
      .login({
        username: this.loginForm.value.username!,
        password: this.loginForm.value.password!,
      })
      .subscribe();
  }

  logout(): void {
    this.loginService.logout();
  }
}
