#====================================================================
# Spring Cloud Consul Config bootstrap test configuration
#====================================================================

spring.cloud.consul.enabled=false
spring.cloud.compatibility-verifier.enabled=false
