#====================================================================
# Spring Cloud Consul Config bootstrap test configuration
#====================================================================

spring.cloud.consul.enabled=false
