import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'jhi-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css'],
})
export class AppComponent implements OnInit{
  appName = '';

  ngOnInit(): void {
    this.appName = '{{baseName}}';
  }
}
