<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{=<% %>=}}{{ appName }}<%={{ }}=%></span>
  <span class="toolbar-spacer"></span>
  <img alt="Angular logo" class="angular-logo" src="content/images/AngularLogo.svg" />
  <span class="space-separator" id="menu-space-separator"></span>
</mat-toolbar>

<img alt="JHipster logo" class="jhipster-logo" src="../../../../content/images/JHipster-Lite-neon-red.png" />

<router-outlet></router-outlet>

<div id="footer">
  <h1>{{=<% %>=}}{{ appName }}<%={{ }}=%>: Angular + TypeScript</h1>
  <p>
    Recommended IDE setup:
    <a href="https://code.visualstudio.com/" target="_blank" rel="noopener">VSCode</a>
  </p>
  <p>
    <a href="https://angular.io/tutorial" target="_blank" rel="noopener">Angular Documentation</a>
    |
    <a href="https://angular.io/cli" target="_blank" rel="noopener">Angular CLI Documentation</a>
  </p>
  <p>
    Edit
    <code>app.component.ts</code> to test hot module replacement.
  </p>
</div>
