<div class="jhipster-modules-list">
  <h1 data-selector="modules-title" class="jhister-modules-title">Modules</h1>

  <div data-selector="modules-loader" v-if="content.isLoading()">Loading</div>
  <div data-selector="modules-list" v-else>
    <div v-for="category in content.value().categories">
      <div class="jhipster-module-category">
        <h2 class="jhipster-module-category--name">{{ category.name }}</h2>
        <div v-for="module in category.modules" class="jhipster-module" :data-selector="`${module.slug}-module`">
          <div class="jhipster-module--slug">{{ module.slug }}</div>
          <div class="jhipster-module--description">{{ module.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
