package {{packageName}}.technical.infrastructure.secondary.async;

import static org.assertj.core.api.Assertions.assertThat;

import {{packageName}}.IntegrationTest;
import org.junit.jupiter.api.Test;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.ApplicationContext;

@IntegrationTest
class AsyncConfigurationIT {

  @Autowired
  ApplicationContext applicationContext;

  @Test
  void shouldGetBean() {
    assertThat(applicationContext.getBean("taskExecutor")).isNotNull().isInstanceOf(ExceptionHandlingAsyncTaskExecutor.class);
  }
}
