{
  "name": "{{dasherizedBaseName}}{{^dasherizedBaseName}}jhipster-project{{/dasherizedBaseName}}",
  "version": "0.0.0",
  "private": true,
  "description": "{{projectName}}{{^projectName}}JHipster Project{{/projectName}}",
  "license": "UNLICENSED",
  "scripts": {
    "prepare": "husky install",
    "prettier:check": "prettier --check \"{,src/**/}*.{md,json,yml,html,js,ts,tsx,css,scss,vue,java}\"",
    "prettier:format": "prettier --write \"{,src/**/}*.{md,json,yml,html,js,ts,tsx,css,scss,vue,java}\""
  },
  "devDependencies": {
    "husky": "7.0.4",
    "lint-staged": "11.2.3",
    "prettier": "2.4.1",
    "prettier-plugin-java": "1.5.0",
    "prettier-plugin-packagejson": "2.2.13"
  },
  "engines": {
    "node": ">={{nodeVersion}}{{^nodeVersion}}14.18.1{{/nodeVersion}}"
  },
  "cacheDirectories": [
    "node_modules"
  ]
}
