package {{packageName}}.sample.domain.beer;

import java.util.Optional;
import {{packageName}}.sample.domain.BeerId;

public interface BeersRepository {
  void save(Beer beer);

  Beers catalog();

  Optional<Beer> get(BeerId beer);
}
