mixin jhlite-landscape-minimap
  .jhlite-landscape-minimap
    .jhlite-minimap--container
      button.jhlite-button.-rounded-top.-small
        em.jhlite-icon.jhlite-icon-eye-off(role='img', aria-label='Icon eye-off')
      .jhlite-minimap--size(style='height: 100px; width: 200px;')
        .jhlite-minimap--viewer
        .jhlite-minimap--content
