$jhlite-color-brand-050: #eff8fe;
$jhlite-color-brand-100: #ddeffc;
$jhlite-color-brand-200: #b9dff9;
$jhlite-color-brand-300: #83c6f5;
$jhlite-color-brand-400: #59a5da;
$jhlite-color-brand-500: #3e8abf;
$jhlite-color-brand-600: #236fa4;
$jhlite-color-brand-700: #0f5b90;
$jhlite-color-brand-800: #045085;
$jhlite-color-brand-900: #004677;
