<div class="jhipster-modules" v-if="content.isLoading()" data-selector="modules-loader">Loading</div>
<div class="jhipster-modules" v-else data-selector="modules-list">
  <aside class="jhipster-side-form">
    <ModulePropertiesFormVue
      :folderPath="folderPath"
      :properties="selectedModuleProperties()"
      :parameters="moduleParameters"
      @moduleCommitUpdated="updateModuleCommit"
      @folderPathUpdated="updateFolderPath"
      @folderPathSelected="projectFolderUpdated"
      @propertyUpdated="updateProperty"
      @propertyDeleted="deleteProperty"
    />

    <ProjectActionsVue :folderPath="folderPath" @operationStarted="operationStarted()" @operationEnded="operationEnded()" />
  </aside>

  <div class="jhipster-modules-list">
    <div class="jhipster-modules-filters">
      <div class="jhipster-modules-filters--tags">
        <TagFilterVue tag="init" :isSelected="isTagSelected('init')" @selected="toogleTag('init')" />
        <TagFilterVue tag="server" :isSelected="isTagSelected('server')" @selected="toogleTag('server')" />
        <TagFilterVue tag="client" :isSelected="isTagSelected('client')" @selected="toogleTag('client')" />
      </div>

      <input
        tabindex="3"
        type="text"
        class="jhipster-modules-filters--filter"
        placeholder="Filter"
        data-selector="modules-filter-field"
        @input="updateSearch($event.target.value)"
      />

      <div class="jhipster-modules-filters--displayed-modules-count" data-selector="displayed-modules-count">
        {{ displayedModulesCount() }}&nbsp;/&nbsp;{{ totalModulesCount() }}
      </div>
    </div>

    <div class="jhipster-modules-list--categories">
      <div v-for="category in content.value().categories">
        <div>
          <h2 class="jhipster-module-category--name">{{ category.name }}</h2>
          <div v-for="module in category.modules" class="jhipster-module" :class="moduleClass(module.slug)">
            <div
              tabindex="4"
              class="jhipster-module--content"
              :class="moduleClass(module.slug)"
              @click="toggleModule(module.slug)"
              @keyup.enter="toggleModule(module.slug)"
              :data-selector="`${module.slug}-module-content`"
            >
              <div class="jhipster-module--tags" :class="moduleClass(module.slug)">
                <div v-for="tag in module.tags" class="jhipster-module--tag">{{ tag }}</div>
              </div>

              <div class="jhipster-module--slug" :class="moduleClass(module.slug)">{{ module.slug }}</div>
              <div class="jhipster-module--description" :class="moduleClass(module.slug)">{{ module.description}}</div>

              <ModuleParametersVue
                propertiesType="MANDATORY"
                :propertiesDefinitions="mandatoryProperties(module.slug)"
                :moduleSlug="module.slug"
                :moduleParameters="moduleParameters"
                :selected="isModuleSelected(module.slug)"
              />
              <ModuleParametersVue
                propertiesType="OPTIONAL"
                :propertiesDefinitions="optionalProperties(module.slug)"
                :moduleSlug="module.slug"
                :moduleParameters="moduleParameters"
                :selected="isModuleSelected(module.slug)"
              />
            </div>

            <button
              tabindex="4"
              class="jhipster-module--apply-button"
              :class="moduleClass(module.slug)"
              :disabled="disabledApplication(module.slug)"
              @click="applyModule(module.slug)"
              :data-selector="`module-${module.slug}-application-button`"
            >
              <span v-if="appliedModule(module.slug)">
                <IconVue
                  name="ccw"
                  aria-label="Reapply"
                  title="Re-apply module"
                  :data-selector="`module-${module.slug}-application-icon`"
                />
              </span>
              <span v-else>
                <IconVue
                  name="play"
                  aria-label="Reapply"
                  title="Re-apply module"
                  :data-selector="`module-${module.slug}-application-icon`"
                />
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
