<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="tech.jhipster.forge" level="WARN"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web" level="WARN"/>
  <logger name="org.springframework.security" level="WARN"/>
  <logger name="org.eclipse.jgit" level="WARN"/>

  <root>
    <level>WARN</level>
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
