<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <logger name="tech.jhipster.lite" level="OFF" />
  <logger name="org.springframework" level="WARN" />
  <logger name="org.springframework.web" level="WARN" />
  <logger name="org.springframework.security" level="WARN" />
  <logger name="org.eclipse" level="OFF" />
  <logger name="com.tngtech.archunit.core" level="ERROR" />
  <logger name="org.apache" level="ERROR" />
  <logger name="sun.net" level="OFF" />
  <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO" />
  <logger name="Validator" level="INFO" />
  <logger name="org.hibernate" level="WARN" />
  <logger name="org.hibernate.validator" level="WARN" />
  <logger name="com.jackson" level="WARN" />
  <logger name="com.jayway" level="WARN" />
  <logger name="com.tngtech.archunit.ArchConfiguration" level="WARN" />
  <logger name="com.github.dockerjava" level="OFF" />
  <logger name="org.testcontainers" level="OFF" />
  <logger name="io.mongock" level="OFF" />
  <logger name="com.mongodb" level="OFF" />
  <logger name="org.mongodb" level="OFF" />
  <logger name="io.cucumber" level="ERROR" />
  <logger name="io.swagger" level="ERROR" />
</configuration>
