@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');

:root {
  box-sizing: border-box;
  --color-slate: #f1f5f9;
  --bg-color-brown: #f8f1ea;
  --primary-color: #3474ab;
  --primary-color-hover: #245178;
  --primary-color-focus: #4ba8f8;
  --primary-color-disable: #96caf8;
  --secondary-color: #b86f2f;
  --secondary-color-hover: #855022;
  --secondary-color-focus: #39220e;
  --secondary-color-disable: #c4956d;
  --text-color: #343333;
  --variant-color-green: #bbf1e3;
  --variant-color-purple: #cfbef0;
  --variant-color-pink: #ffe2fb;
  --variant-color-orange: #ffefcd;
  --default-border-color: #e2e8f0;
  --bs-primary: #152e44;
  --primary-color-light: #4ba8f8;
  --success-color: #00543c;
  --bs-secondary: #b86f2f;
}

.bd-navbar .navbar-nav-svg {
  height: 2rem;
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}
.title {
  font-family: Pacifico, cursive;
}
.navbar-brand {
  flex: 1 1 0%;
  min-width: 1px;
  max-width: 100%;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 0.01em;
  padding: 0 12px;
}
.navbar-toggler:focus,
a:focus,
input:focus,
button:focus {
  outline: 2px solid;
  outline-color: var(--primary-color-focus);
  outline-offset: 2px;
}
.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.navbar .nav-link,
a {
  color: var(--color-slate);
}
.nav-link,
a {
  color: var(--primary-color);
}

.nav-link:hover,
a:hover {
  color: var(--primary-color-light);
}
.nav-link:focus,
a:focus {
  color: var(--primary-color-focus);
}
.nav-pills .nav-link {
  width: 100%;
  border-radius: 0;
}
.nav-pills {
  padding: 0 16px;
  min-height: 48px;
}
.nav-pills li {
  padding: 4px 0;
}
.nav-pills .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid currentColor;
  background: none;
}
.nav-pills button {
  align-items: center;
  display: flex;
  flex-direction: column;
}
button:not(:last-child) {
  margin-right: 0.75rem;
}
button {
  margin-bottom: 0.5rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.nav-pills .nav-link:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.separator--vertical {
  width: 2px;
  height: auto;
  align-self: stretch;
  background-color: var(--color-slate);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

hr:not([size]).separator--vertical {
  height: auto;
}
.list-group--inline > .list-group-item {
  display: inline-flex;
  max-width: 100%;
  width: auto;
  padding: 0.5rem 1.5rem;
}
.list-group--inline > .list-group-item:not(:last-child) {
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.list-group--inline > .list-group-item {
  box-shadow: inset 0 0 0 1px var(--bs-gray-400);
  background-color: white;
  border: none;
}
.list-group-item-action input[type='radio']:checked {
  box-shadow: inset 0 0 0 1px var(--primary-color);
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: 0.5rem;
}
.list-group-item-check:checked + .list-group-item {
  box-shadow: inset 0 0 0 1px var(--primary-color);
}
.list-group-item-check:checked + label::before {
  box-shadow: inset 0 0 0 3px var(--w);
}
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}
input[type='radio'] {
  margin-right: 1rem;
}
input[type='checkbox'],
input[type='radio'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--primary-color);
}
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.bg-spring {
  background: #6db33f !important;
}
.text-spring {
  color: #6db33f !important;
}
.bg-vue {
  background: #3fb27f !important;
  opacity: 0.15;
}
.text-vue {
  color: #3fb27f !important;
}
.bg-angular {
  background: #c3002f !important;
}
.text-angular {
  color: #c3002f !important;
}
.text-svelte {
  color: #ff3e00 !important;
}
