@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap');

:root {
  box-sizing: border-box;
  --color-slate: #f1f5f9;
  --bg-color-brown: #f8f1ea;
  --primary-color: #3474ab;
  --primary-color-hover: #245178;
  --primary-color-focus: #4ba8f8;
  --primary-color-disable: #96caf8;
  --secondary-color: #b86f2f;
  --secondary-color-hover: #855022;
  --secondary-color-focus: #39220e;
  --secondary-color-disable: #c4956d;
  --text-color: #343333;
  --variant-color-green: #bbf1e3;
  --variant-color-purple: #cfbef0;
  --variant-color-pink: #ffe2fb;
  --variant-color-orange: #ffefcd;
  --default-border-color: #e2e8f0;
  --bs-primary-dark: #152e44;
  --bs-secondary-rgb-hover: 241, 226, 213;
  --bs-secondary-rgb: 110, 67, 28;
  --bs-primary-rgb: 52, 116, 171;
  --bs-vue-rgb: 63, 178, 127;
  --bs-angular-rgb: 195, 0, 47;
  --bs-spring-rgb: 109, 179, 63;
  --bs-svelte-rgb: 255, 62, 0;
  --primary-color-light: #4ba8f8;
  --success-color: #00543c;
}

.bd-navbar .navbar-nav-svg {
  height: 2rem;
}
.bg-primary-dark {
  background-color: var(--bs-primary-dark) !important;
}
.title {
  font-family: Pacifico, cursive;
}
.navbar-brand {
  flex: 1 1 0%;
  min-width: 1px;
  max-width: 100%;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 0.01em;
  padding: 0 12px;
}
.navbar-toggler:focus,
a:focus,
input:focus,
button:focus {
  outline: 2px solid;
  outline-color: var(--primary-color-focus);
  outline-offset: 2px;
}
.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.navbar .nav-link,
a {
  color: var(--color-slate);
}
.nav-link,
button.nav-link,
a {
  color: var(--primary-color);
}
.navbar a:hover,
a:hover {
  color: var(--primary-color-light);
}
.nav-link:focus,
a:focus {
  color: var(--primary-color-light);
}
.nav-pills .nav-link {
  width: 100%;
  border-radius: 0;
}
.nav-pills {
  padding: 0;
  min-height: 48px;
}
.nav-pills li {
  padding: 0;
}
.nav-link.active {
  box-shadow: inset -0.25em 0em currentColor;
  cursor: default;
}
.nav-link.bg-primary {
  --bs-bg-opacity: 0.05;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
.nav-pills button {
  align-items: center;
  margin: 0;
  padding: 1rem;
}
button:not(:last-child) {
  margin-right: 0.75rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.nav-pills .nav-link:hover {
  --bs-bg-opacity: 0.15;
}

.separator--vertical {
  width: 2px;
  height: auto;
  align-self: stretch;
  background-color: var(--color-slate);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

hr:not([size]).separator--vertical {
  height: auto;
}
ul.list-group--inline {
  margin-bottom: 0;
  padding-left: 1rem;
}
.list-group--inline > .list-group-item {
  display: inline-flex;
  max-width: 100%;
  width: auto;
  padding: 0.25rem 1rem;
}
.list-group--inline > .list-group-item:not(:last-child) {
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.list-group--inline > .list-group-item {
  box-shadow: inset 0 0 0 1px var(--bs-gray-400);
  background-color: white;
  border: none;
}
.list-group-item-action input[type='radio']:checked {
  box-shadow: inset 0 0 0 1px var(--primary-color);
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: 0.5rem;
}
.list-group-item-check:checked + .list-group-item {
  box-shadow: inset 0 0 0 1px var(--primary-color);
}
.list-group-item-check:checked + label::before {
  box-shadow: inset 0 0 0 3px var(--w);
}
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}
input[type='radio'] {
  margin-right: 1rem;
}
input[type='checkbox'],
input[type='radio'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
}
.card {
  border-radius: 0;
  border: none;
}
.card.bg-dark .card-header,
.card.bg-primary .card-header,
.card.bg-secondary .card-header {
  border-bottom: 1px solid var(--color-slate);
}
.card-body {
  background-color: rgba(255, 255, 255, 0.85);
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: var(--primary-color);
}
.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.bg-spring {
  --bs-bg-opacity: 0.05;
  background-color: rgba(var(--bs-spring-rgb), var(--bs-bg-opacity)) !important;
}
.text-spring {
  color: rgba(var(--bs-spring-rgb)) !important;
}
.bg-vue {
  --bs-bg-opacity: 0.05;
  background-color: rgba(var(--bs-vue-rgb), var(--bs-bg-opacity)) !important;
}

.text-vue {
  color: rgba(var(--bs-vue-rgb)) !important;
}
.bg-angular {
  --bs-bg-opacity: 0.05;
  background-color: rgba(var(--bs-angular-rgb), var(--bs-bg-opacity)) !important;
}
.text-angular {
  color: rgba(var(--bs-angular-rgb)) !important;
}
.bg-svelte {
  --bs-bg-opacity: 0.05;
  background-color: rgba(var(--bs-svelte-rgb), var(--bs-bg-opacity)) !important;
}
.text-svelte {
  color: rgba(var(--bs-svelte-rgb)) !important;
}
.border-secondary {
  border-color: var(--secondary-color) !important;
}
.shadow-primary {
  --bs-bg-opacity: 0.2;
  box-shadow: 0.2em -0.2em rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)),
    0.1em 0.1em 0.3em 0.1em rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

@media (max-width: 768px) {
  .nav-pills .nav-link.active {
    color: var(--primary-color);
    box-shadow: inset 0em -0.15em currentColor;
  }
}
