package {{packageName}}.dummy.infrastructure.primary.kafka.consumer;

import org.apache.kafka.clients.consumer.ConsumerRecord;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.core.task.SimpleAsyncTaskExecutor;
import org.springframework.stereotype.Service;
import {{packageName}}.technical.infrastructure.config.kafka.KafkaProperties;

@Service
public class DummyConsumer extends AbstractConsumer<String> {

  private final Logger log = LoggerFactory.getLogger(DummyConsumer.class);

  public DummyConsumer(@Value("${kafka.topic.dummy}") final String topicName, final KafkaProperties kafkaProperties) {
    super(topicName, kafkaProperties.getConsumer(), kafkaProperties.getPollingTimeout());
  }

  @Override
  protected void handleMessage(final ConsumerRecord<String, String> record) {
    // TODO /!\ Maybe you could delete the next log calls to avoid disclosing personal user information

    final String value = record.value();

    if (value == null) {
      log.error("Null value in record {}", record);
      return;
    }

    log.info("Handling record: {}", value);
    // TODO: Here is where you can handle your records
  }

  @Bean
  public void executeKafkaRunner() {
    new SimpleAsyncTaskExecutor().execute(this);
  }
}
