package {{packageName}}.dummy.infrastructure.secondary.kafka.producer;

import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertTrue;

import java.lang.reflect.InvocationTargetException;
import java.lang.reflect.Method;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.Future;
import org.apache.kafka.clients.producer.MockProducer;
import org.apache.kafka.clients.producer.ProducerRecord;
import org.apache.kafka.clients.producer.RecordMetadata;
import org.apache.kafka.common.serialization.StringSerializer;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import {{packageName}}.UnitTest;

@UnitTest
class DummyProducerTest {
  private DummyProducer dummyProducer;
  private MockProducer mockProducer;

  @BeforeEach
  public void setUp() throws NoSuchMethodException, InvocationTargetException, IllegalAccessException {
    mockProducer = new MockProducer<>(true, new StringSerializer(), new StringSerializer());
    dummyProducer = new DummyProducer("queue.jhipster.dummy", mockProducer);
    Method postConstruct = DummyProducer.class.getDeclaredMethod("init", null);
    postConstruct.setAccessible(true);
    postConstruct.invoke(dummyProducer);
  }

  @Test
  void shouldSend() {
    dummyProducer.send("dummy message");

    assertEquals(1, mockProducer.history().size());
    assertEquals("dummy message", ((ProducerRecord) mockProducer.history().get(0)).value());
  }

  @Test
  void shouldNotSend() {
    MockProducer<String, String> mockProducer = new MockProducer<>(false, new StringSerializer(), new StringSerializer());

    dummyProducer = new DummyProducer("queue.jhipster.dummy", mockProducer);
    final Future<RecordMetadata> producerRecord = dummyProducer.send("dummy message");
    RuntimeException expectedException = new RuntimeException();
    mockProducer.errorNext(expectedException);

    try {
      producerRecord.get();
    } catch (ExecutionException | InterruptedException ex) {
      assertEquals(expectedException, ex.getCause());
    }
    assertTrue(producerRecord.isDone());
  }
}
