package {{packageName}};

import java.util.concurrent.atomic.AtomicBoolean;
import org.junit.jupiter.api.extension.BeforeAllCallback;
import org.junit.jupiter.api.extension.ExtensionContext;
import org.testcontainers.containers.KafkaContainer;
import org.testcontainers.utility.DockerImageName;

public class KafkaTestContainerExtension implements BeforeAllCallback {

  private AtomicBoolean kafkaContainerStarted = new AtomicBoolean(false);

  @Override
  public void beforeAll(final ExtensionContext context) {
    if (!kafkaContainerStarted.get()) {
      // TODO: withNetwork will need to be removed soon
      // See discussion at https://github.com/jhipster/generator-jhipster/issues/11544#issuecomment-609065206
      final KafkaContainer kafkaContainer = new KafkaContainer(DockerImageName.parse("confluentinc/cp-kafka:7.0.1")).withNetwork(null);
      kafkaContainer.start();
      kafkaContainerStarted.set(true);
    }
  }
}
