package {{packageName}}.technical.infrastructure.secondary.kafka;

import static org.junit.jupiter.api.Assertions.assertEquals;

import java.lang.reflect.InvocationTargetException;
import java.lang.reflect.Method;
import java.util.HashMap;
import java.util.Map;
import org.apache.kafka.clients.producer.ProducerConfig;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.springframework.test.util.ReflectionTestUtils;
import {{packageName}}.UnitTest;

@UnitTest
class KafkaProducerPropertiesTest {
  private KafkaProducerProperties kafkaProducerProperties;

  @BeforeEach
  public void setUp() throws NoSuchMethodException, InvocationTargetException, IllegalAccessException {
    kafkaProducerProperties = new KafkaProducerProperties();
    ReflectionTestUtils.setField(kafkaProducerProperties, "bootstrapServers", "localhost:9092");
    Method postConstruct = KafkaProducerProperties.class.getDeclaredMethod("init");
    postConstruct.setAccessible(true);
    postConstruct.invoke(kafkaProducerProperties);
  }

  @Test
  void shouldGetProducer() {
    assertEquals("localhost:9092", kafkaProducerProperties.getProducer().get(ProducerConfig.BOOTSTRAP_SERVERS_CONFIG));
  }

  @Test
  void shouldSetProducer() {
    Map<String, Object> producer = new HashMap();
    producer.put(ProducerConfig.BOOTSTRAP_SERVERS_CONFIG, "external:9092");
    kafkaProducerProperties.setProducer(producer);
    assertEquals("external:9092", kafkaProducerProperties.getProducer().get(ProducerConfig.BOOTSTRAP_SERVERS_CONFIG));
  }
}
