mixin jhlite-landscape-loader
  .jhlite-landscape-loader.jhlite-menu-content-template
    .ph-jhlite-landscape-modes-selection
      .ph-item
        .ph-row
          .ph-col-12.big
    .ph-jhlite-landscape-map.jhlite-menu-content-template--content
      .ph-jhlite-landscape-levels
        ListPlaceHolderVue
          PhPictureVue
          PhRowVue
    .jhlite-menu-content-template--menu
      .ph-jhlite-landscape-sidemenu
        .ph-jhlite-landscape-sidemenu-top
          .ph-item
            .ph-col-12
              .ph-row
                .ph-col-12.empty
                .ph-col-6.big
                .ph-col-6.empty.big
                .ph-col-12.empty
              .ph-row
                .ph-col-6
                .ph-col-6.empty
                .ph-col-12.big
                .ph-col-10
                .ph-col-10.empty
        .ph-jhlite-landscape-sidemenu-bottom
          .ph-item
            .ph-col-12
              .ph-row
                .ph-col-12.big
                .ph-col-12.big
                .ph-col-12.big
                .ph-col-12.big
