package {{ packageName }}.shared.slug.domain;

public enum {{ baseName }}FeatureSlug implements JHipsterFeatureSlugFactory {
  // Add here the slugs of your features
  // e.g.: MY_FEATURE("my-feature")
  ;

  private final String slug;

  {{ baseName }}FeatureSlug(String slug) {
    this.slug = slug;
  }

  @Override
  public String get() {
    return slug;
  }
}
