$jhlite-module-patch-loader-secondary-color: $jhlite-global-secondary-color;
$jhlite-module-patch-loader-primary-text-color: $jhlite-global-primary-text-color;

.jhipster-module-patch-loader {
  .jhlite-modules-loader-content {
    background-color: $jhlite-module-patch-loader-secondary-color;
    color: $jhlite-module-patch-loader-primary-text-color;

    .ph-item {
      border: none;
      background-color: $jhlite-module-patch-loader-secondary-color;
    }
  }

  .ph-jhlite-modules-container-content {
    box-sizing: border-box;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;

    .modules-filter {
      height: 80px;
    }

    .modules-list {
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  .ph-jhlite-modules-sidemenu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &-top {
      flex-basis: 0;
      flex-grow: 1;
    }

    &-bottom {
      flex-basis: auto;
      flex-grow: 0;
      height: 110px;
    }
  }
}
