package {{ packageName }}.shared.error.infrastructure.primary;

import {{ packageName }}.shared.error.domain.{{ baseName }}Exception;

public final class {{ baseName }}ExceptionFactory {

  private {{ baseName }}ExceptionFactory() {}

  public static final {{ baseName }}Exception buildEmptyException() {
    return {{ baseName }}Exception.builder(null).build();
  }
}
