import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';

import { ApplicationConfigService } from './../../config/application-config.service';

@Injectable({ providedIn: 'root' })
export class HealthService {
  constructor(private http: HttpClient, private applicationConfigService: ApplicationConfigService) {}

  checkHealth(): Observable<any> {
    return this.http.get<any>(this.applicationConfigService.getEndpointFor('management/health'));
  }
}
