import { HttpClient } from '@angular/common/http';
import { inject, Injectable } from '@angular/core';
import { Observable } from 'rxjs';

import { ApplicationConfigService } from '../../config/application-config.service';
import { HealthModel } from './health.model';

@Injectable({ providedIn: 'root' })
export class HealthService {
  private readonly http = inject(HttpClient);
  private readonly applicationConfigService = inject(ApplicationConfigService);

  checkHealth(): Observable<HealthModel> {
    return this.http.get<HealthModel>(this.applicationConfigService.getEndpointFor('management/health'));
  }
}
