import { HarnessLoader } from '@angular/cdk/testing';
import { TestbedHarnessEnvironment } from '@angular/cdk/testing/testbed';
import { provideHttpClient } from '@angular/common/http';
import { provideHttpClientTesting } from '@angular/common/http/testing';
import { ComponentFixture, TestBed, waitForAsync } from '@angular/core/testing';
import { MatDialogHarness } from '@angular/material/dialog/testing';
import { of } from 'rxjs';

import Health from './health';
import { HealthModel } from './health.model';
import { HealthService } from './health.service';

describe('Health', () => {
  let comp: Health;
  let fixture: ComponentFixture<Health>;
  let service: HealthService;
  let loader: HarnessLoader;

  beforeEach(waitForAsync(() => {
    TestBed.configureTestingModule({
      providers: [provideHttpClient(), provideHttpClientTesting()],
    })
      .overrideTemplate(Health, '')
      .compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(Health);
    comp = fixture.componentInstance;
    service = TestBed.inject(HealthService);
    loader = TestbedHarnessEnvironment.documentRootLoader(fixture);
  });

  describe('refresh', () => {
    it('should call refresh on init', () => {
      const health: HealthModel = { status: 'UP', components: { mail: { status: 'UP', details: { mailDetail: 'mail' } } } };
      jest.spyOn(service, 'checkHealth').mockReturnValue(of(health));

      comp.ngOnInit();

      expect(service.checkHealth).toHaveBeenCalled();

      service.checkHealth().subscribe(() => {
        expect(comp.datasource).toEqual([{ details: { mailDetail: 'mail' }, key: 'mail', status: 'UP' }]);
      });
    });

    it('should call checkHealth on refresh', () => {
      const health: HealthModel = { status: 'UP', components: { mail: { status: 'UP', details: { mailDetail: 'mail' } } } };
      jest.spyOn(service, 'checkHealth').mockImplementation(() => of(health));

      comp.refresh();

      expect(service.checkHealth).toHaveBeenCalled();
    });
  });

  describe('showHealth', () => {
    it('should open dialog', async () => {
      const health: HealthModel = {
        status: 'UP',
        components: null,
      };

      comp.showHealth(health);

      const dialogs = await loader.getAllHarnesses(MatDialogHarness);
      expect(dialogs.length).toBe(1);
    });
  });

  describe('getBadgeClass', () => {
    it('should get success badge class', () => {
      const upBadgeClass = comp.getBadgeClass('UP');

      expect(upBadgeClass).toBe('bg-success');
    });

    it('should get danger badge class', () => {
      const downBadgeClass = comp.getBadgeClass('DOWN');

      expect(downBadgeClass).toBe('bg-danger');
    });
  });
});
