package {{ packageName }}.shared.dependencies.infrastructure.secondary;

import java.util.List;
import org.springframework.core.Ordered;
import org.springframework.core.annotation.Order;
import org.springframework.stereotype.Repository;
import {{ packageName }}.shared.dependencies.domain.{{ baseName }}NodePackagesVersionSource;
import tech.jhipster.lite.module.domain.ProjectFiles;
import tech.jhipster.lite.module.domain.nodejs.NodePackagesVersions;
import tech.jhipster.lite.module.infrastructure.secondary.nodejs.FileSystemNodePackagesVersionReader;
import tech.jhipster.lite.module.infrastructure.secondary.nodejs.NodePackagesVersionsReader;

@Repository
@Order(Ordered.HIGHEST_PRECEDENCE)
public class {{ baseName }}NodePackagesVersionsReader implements NodePackagesVersionsReader {

  private static final String PARENT_FOLDER = "/generator/{{ baseNameKebabCased }}-dependencies/";

  private final FileSystemNodePackagesVersionReader reader;

  public {{ baseName }}NodePackagesVersionsReader(ProjectFiles projectFiles) {
    reader = new FileSystemNodePackagesVersionReader(projectFiles, List.of({{ baseName }}NodePackagesVersionSource.values()), PARENT_FOLDER);
  }

  @Override
  public NodePackagesVersions get() {
    return reader.get();
  }
}
