package {{ packageName }}.shared.dependencies.infrastructure.secondary;

import java.util.List;
import org.springframework.core.Ordered;
import org.springframework.core.annotation.Order;
import org.springframework.stereotype.Repository;
import {{ packageName }}.shared.dependencies.domain.{{ baseName }}NpmVersionSource;
import tech.jhipster.lite.module.domain.ProjectFiles;
import tech.jhipster.lite.module.domain.npm.NpmPackagesVersions;
import tech.jhipster.lite.module.infrastructure.secondary.npm.FileSystemNpmVersionReader;
import tech.jhipster.lite.module.infrastructure.secondary.npm.NpmVersionsReader;

@Repository
@Order(Ordered.HIGHEST_PRECEDENCE)
public class {{ baseName }}NpmVersionReader implements NpmVersionsReader {

  private static final String PARENT_FOLDER = "/generator/{{ baseNameKebabCased }}-dependencies/";

  private final FileSystemNpmVersionReader reader;

  public {{ baseName }}NpmVersionReader(ProjectFiles projectFiles) {
    reader = new FileSystemNpmVersionReader(projectFiles, List.of({{ baseName }}NpmVersionSource.values()), PARENT_FOLDER);
  }

  @Override
  public NpmPackagesVersions get() {
    return reader.get();
  }
}
