package {{packageName}}.kipe.domain;

public class KipeDummy {

  private final String value;

  public KipeDummy(String value) {
    this.value = value;
  }

  public String value() {
    return value;
  }
}
