import { Locator, Page } from '@playwright/test';

export class HomePage {
  readonly page: Page;
  readonly appLocator: Locator;

  constructor(page: Page) {
    this.page = page;
    this.appLocator = page.locator("#app");
  }

  async goto() {
    await this.page.goto('/login');
  }
}
