sonar.projectKey={{baseName}}
sonar.projectName={{projectName}}

sonar.sources=src/main/
sonar.tests=src/test/
sonar.host.url=http://localhost:9001

sonar.test.inclusions=src/test/**/*.*, src/main/webapp/**/*.spec.ts
sonar.testExecutionReportPaths={{projectBuildDirectory}}/test-results/TESTS-results-sonar.xml
sonar.javascript.lcov.reportPaths={{projectBuildDirectory}}/test-results/lcov.info

sonar.sourceEncoding=UTF-8
sonar.exclusions=\
  src/main/webapp/content/**/*.*,\
  {{projectBuildDirectory}}/classes/static/**/*.*
