$jhlite-landscape-preset-configuration-line-color: $jhlite-global-line-color;
$jhlite-landscape-preset-configuration-secondary-color: $jhlite-global-secondary-color;
$jhlite-landscape-preset-configuration-primary-input-color: $jhlite-global-primary-input-color;

.jhlite-landscape-preset-configuration {
  &--field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &--select {
    margin-top: 8px;
    border: 1px solid $jhlite-landscape-preset-configuration-line-color;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    width: 100%;
  }
}
