mixin jhlite-landscape-preset-configuration
  .jhlite-landscape-preset-configuration
    button.jhlite-button.-rounded-top.-small
      em.jhlite-icon.jhlite-icon-eye-off(role='img', aria-label='Icon eye-off')
    .jhlite-landscape-preset-configuration--content
      .jhlite-field--label
        label.jhlite-input(for='preset-configuration') Presets Configurations
      .jhlite-landscape-preset-configuration--field
        select#preset-configuration.jhlite-select(@change='handlePresetChange', :value='selectedPresetName')
          option(value='') Select a preset...
        option(value='preset.name') Java Library with Maven
        option(value='preset.name') Webapp: Vue + Spring Boot
        option(value='preset.name') JHLite Extension with Maven
