plugins {
  java
  jacoco
}

java {
  toolchain {
    languageVersion.set(JavaLanguageVersion.of(17))
    vendor.set(JvmVendorSpec.ADOPTIUM)
  }
}

jacoco {
  toolVersion = libs.versions.jacoco.get()
}

repositories {
  mavenCentral()
  // jhipster-needle-gradle-repository
}

group = "{{packageName}}"
version = "0.0.1-SNAPSHOT"

ext {
  // jhipster-needle-gradle-property
}

dependencies {
  // jhipster-needle-gradle-add-dependency
  testImplementation(libs.junit.engine)
  testImplementation(libs.junit.params)
  testImplementation(libs.assertj)
  testImplementation(libs.mockito)
  // jhipster-needle-gradle-add-dependency-test
}

tasks.test {
  filter {
    includeTestsMatching("*Test.*")
    excludeTestsMatching("*IntTest.*")
    excludeTestsMatching("*IT.*")
  }
  useJUnitPlatform()
}

val integrationTest = task<Test>("integrationTest") {
  description = "Runs integration tests."
  group = "verification"
  shouldRunAfter("test")
  filter {
    includeTestsMatching("*IntTest.*")
    includeTestsMatching("*IT.*")
    excludeTestsMatching("*Test.*")
  }
  useJUnitPlatform()
}
