<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<main layout:fragment="content">
  <!-- jhipster-needle-thymeleaf-main-content -->
</main>

<th:block layout:fragment="script-content">
  <!-- jhipster-needle-thymeleaf-main-script -->
</th:block>
</body>
</html>
