<form>
  <div class="jh-container">
    <div class="row v-align-start">
      <div class="col-3">
        <img class="jh-logo" src="../../../content/JHipster-Lite-neon-blue.png" alt="" />
      </div>
      <div class="col-9">
        <h1 class="brand" data-selector="generator.title">JHipster Lite</h1>
        <p class="subtitle" data-selector="generator.subtitle">Spring Boot Generator</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <h2 class="card-header bg-variant-jh">Project configuration</h2>
          <div class="card-body">
            <div class="mb-1">
              <label for="path">Path (required) : </label>
              <input class="jh-input" id="path" type="text" v-model="project.folder" required />
            </div>
            <div class="mb-1">
              <label for="basename">Basename : </label>
              <input class="jh-input" id="basename" type="text" v-model="project.baseName" />
            </div>
            <div class="mb-1">
              <label for="projectname">Project name : </label>
              <input class="jh-input" id="projectname" type="text" v-model="project.projectName" />
            </div>
            <div class="mb-1">
              <label for="packagename">Package name : </label>
              <input class="jh-input" id="packagename" type="text" v-model="project.packageName" />
            </div>
            <div class="mb-1">
              <label for="serverport">Server port : </label>
              <input class="jh-input" id="serverport" type="number" v-model="project.serverPort" min="0" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <h2 class="card-header">Init</h2>
          <ul class="card-body jh-btns-group">
            <li>
              <button class="jh-btn btn-primary" id="init" @click.prevent="initProject" data-selector="generator.init-button">Init</button>
            </li>
            <li>
              <button class="jh-btn btn-primary" id="maven" @click.prevent="addMaven" data-selector="generator.add-maven-button">
                Maven
              </button>
            </li>
            <li>
              <button class="jh-btn btn-primary" id="javabase" @click.prevent="addJavaBase" data-selector="generator.add-java-base-button">
                Java Base
              </button>
            </li>
            <li>
              <button
                class="jh-btn btn-primary"
                id="frontend-maven-plugin"
                @click.prevent="addFrontendMavenPlugin"
                data-selector="generator.add-frontend-maven-plugin-button"
              >
                Frontend Maven Plugin
              </button>
            </li>
            <li>
              <button class="jh-btn btn-primary" id="download" @click.prevent="download" data-selector="generator.download-button">
                download
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="jh-container mb-1">
    <div class="card mx-0-5">
      <h2 class="card-header bg-variant-brown">Client</h2>
      <div class="row card-body">
        <!-- Angular -->
        <div class="col-4">
          <div class="jh-checkbox-group jh-checkbox-rich">
            <input type="checkbox" id="angular-with-style" name="angular-with-style" v-model="isAngularWithStyle" />
            <label for="angular-with-style">Add Angular style</label>
            <div class="jh-checkbox-rich-img">
              <img src="../../../content/AngularLogo.png" alt="" />
            </div>
          </div>
          <div class="jh-btns-group">
            <button class="jh-btn btn-primary" id="angular" @click.prevent="addAngular" data-selector="generator.add-angular-button">
              Generate Angular
            </button>
          </div>
        </div>
        <!-- React -->
        <div class="col-4">
          <div class="jh-checkbox-group jh-checkbox-rich">
            <input type="checkbox" id="react-with-style" name="react-with-style" v-model="isReactWithStyle" />
            <label for="react-with-style">Add React style</label>
            <div class="jh-checkbox-rich-img">
              <img src="../../../content/ReactLogo.png" alt="" />
            </div>
          </div>
          <div class="jh-btns-group">
            <button class="jh-btn btn-primary" id="react" @click.prevent="addReact" data-selector="generator.add-react-button">
              Generate React
            </button>
          </div>
        </div>
        <!-- Vue-3-->
        <div class="col-4">
          <div class="jh-checkbox-group jh-checkbox-rich">
            <input type="checkbox" id="vue-with-style" name="vue-with-style" v-model="isVueWithStyle" />
            <label for="vue-with-style">Add Vue style</label>
            <div class="jh-checkbox-rich-img">
              <img src="../../../content/VueLogo.png" alt="" />
            </div>
          </div>
          <div class="jh-btns-group">
            <button class="jh-btn btn-primary" id="vue" @click.prevent="addVue" data-selector="generator.add-vue-button">
              Generate Vue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jh-container mb-1">
    <div class="card mx-0-5">
      <div class="row card-header spring v-align-center">
        <img class="pr-1" src="../../../content/SpringLogo.png" alt="" />
        <h2>Spring Boot</h2>
      </div>
      <div class="row card-body">
        <ul class="jh-btns-group jh-btns-group--inline">
          <li>
            <button
              class="jh-btn btn-primary"
              id="springboot"
              @click.prevent="addSpringBoot"
              data-selector="generator.add-spring-boot-button"
            >
              Spring Boot
            </button>
          </li>
          <li>
            <button
              class="jh-btn btn-primary"
              id="springbootmvctomcat"
              @click.prevent="addSpringBootMvcTomcat"
              data-selector="generator.add-spring-boot-mvc-tomcat-button"
            >
              Spring MVC Tomcat
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
