$jhipster-lite-primary-color: #0f5b90;
$jhipster-lite-secondary-color: #0f172a;
$jhipster-lite-line-color: #ddeffc;
$jhipster-lite-primary-text-color: #ddeffc;
$jhipster-lite-primary-button-background-color: #3e8abf;
$jhipster-lite-disabled-button-background-color: #949494;
$jhipster-lite-primary-input-color: #fff;
$jhipster-lite-applied-module-color: #2f7b17;
$jhipster-lite-font-family: Inter serif;
$jhipster-lite-box-radius: 6px;
$jhipster-header-height: 68.87px;
