$jhipster-lite-primary-color: #0f5b90;
$jhipster-lite-primary-alternative-color: #3e8abf;
$jhipster-lite-secondary-color: #0f172a;
$jhipster-lite-line-color: #475569;
$jhipster-lite-primary-text-color: #ddeffc;
$jhipster-lite-disabled-color: #6d6d6d;
$jhipster-lite-primary-input-color: #fff;
$jhipster-lite-applied-module-color: #2f7b17;
$jhipster-lite-box-radius: 6px;
$jhipster-lite-selectable-highlight-animation: validHighlightAnimation 2s infinite;
$jhipster-lite-valid-highlight-start-color: #3ebf5a;
$jhipster-lite-valid-highlight-end-color: #0f9020;

// Waiting migration colors
$jhipster-lite-color-text-light: #fff;
$jhipster-lite-color-text-dark: #0f172a;
$jhipster-lite-color-fill-light: #fff;

@keyframes validHighlightAnimation {
  0% {
    background-color: $jhipster-lite-valid-highlight-start-color;
    stroke: $jhipster-lite-valid-highlight-start-color;
  }

  50% {
    background-color: $jhipster-lite-valid-highlight-end-color;
    stroke: $jhipster-lite-valid-highlight-end-color;
  }

  100% {
    background-color: $jhipster-lite-valid-highlight-start-color;
    stroke: $jhipster-lite-valid-highlight-start-color;
  }
}

$jhipster-lite-not-selectable-highlight-animation: invalidHighlightAnimation 2s infinite;
$jhipster-lite-invalid-highlight-start-color: #bf3e3e;
$jhipster-lite-invalid-highlight-end-color: #900f0f;

@keyframes invalidHighlightAnimation {
  0% {
    background-color: $jhipster-lite-invalid-highlight-start-color;
    stroke: $jhipster-lite-invalid-highlight-start-color;
  }

  50% {
    background-color: $jhipster-lite-invalid-highlight-end-color;
    stroke: $jhipster-lite-invalid-highlight-end-color;
  }

  100% {
    background-color: $jhipster-lite-invalid-highlight-start-color;
    stroke: $jhipster-lite-invalid-highlight-start-color;
  }
}
