.jhipster-side-form {
  border-left: 1px solid $jhipster-lite-line-color;
  background-color: $jhipster-lite-secondary-color;
  padding: 0 15px;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow: auto;

  &--actions {
    align-self: flex-end;
    width: 100%;
  }
}
