package {{packageName}}.technical.infrastructure.secondary.mongock.dbmigration;

import io.mongock.api.annotations.ChangeUnit;
import io.mongock.api.annotations.Execution;
import io.mongock.api.annotations.RollbackExecution;

@ChangeUnit(id="init", order = "001")
public class InitialMigrationSetup {

  @Execution
  public void changeSet() {
    // Add logic to generate change set
  }

  @RollbackExecution
  public void rollback() {
    // Add logic to rollback change set
  }
}
