package {{packageName}}.technical.infrastructure.secondary.mongock.dbmigration;

import static org.assertj.core.api.Assertions.assertThatCode;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;
import org.mockito.InjectMocks;
import org.mockito.junit.jupiter.MockitoExtension;
import {{packageName}}.UnitTest;

@UnitTest
@ExtendWith(MockitoExtension.class)
class InitialMigrationSetupTest {

  @InjectMocks
  InitialMigrationSetup initialMigrationSetup;

  @Test
  void shouldChangeSet() {
    assertThatCode(() -> initialMigrationSetup.changeSet()).doesNotThrowAnyException();
  }

  @Test
  void shouldRollback() {
    assertThatCode(() -> initialMigrationSetup.rollback()).doesNotThrowAnyException();
  }
}
