include module-parameters.mixin.pug

+jhlite-module-parameters('selected', 'all-valid-parameters')
+jhlite-module-parameters('selected', 'invalid-optional-parameter')
+jhlite-module-parameters('selected', 'invalid-mandatory-parameter')
