export abstract class Loader<T> {
  static loading<T>(): Loader<T> {
    return new LoadingLoader();
  }

  static loaded<T>(value: T): Loader<T> {
    return new LoadedLoader(value);
  }

  static error<T>(error: Error): Loader<T> {
    return new ErrorLoader(error);
  }

  isLoading(): boolean {
    return this.state() === LoadingState.LOADING;
  }

  isLoaded(): boolean {
    return this.state() === LoadingState.LOADED;
  }

  isInError(): boolean {
    return this.state() === LoadingState.ERROR;
  }

  abstract state(): LoadingState;

  abstract value(): T;

  abstract error(): Error;
}

export enum LoadingState {
  LOADING,
  LOADED,
  ERROR,
}

class LoadingLoader<T> extends Loader<T> {
  state(): LoadingState {
    return LoadingState.LOADING;
  }

  value(): T {
    throw new Error("Can't get value for a loading loaded");
  }

  error(): Error {
    throw new Error("Can't get error for loading loader");
  }
}

class LoadedLoader<T> extends Loader<T> {
  constructor(private readonly _value: T) {
    super();
  }

  state(): LoadingState {
    return LoadingState.LOADED;
  }

  value(): T {
    return this._value;
  }

  error(): Error {
    throw new Error("Can't get error for loaded loader");
  }
}

class ErrorLoader<T> extends Loader<T> {
  constructor(private readonly _error: Error) {
    super();
  }

  state(): LoadingState {
    return LoadingState.ERROR;
  }

  value(): T {
    throw new Error("Can't get value for error loader");
  }

  error(): Error {
    return this._error;
  }
}
